@charset "UTF-8";
/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block; }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block; }

/**
 * Add the correct display in IE.
 */
template {
  display: none; }

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none; }

/*! formalize.css | MIT License | github.com/interacthings/formalize */
*, *:before, *:after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  text-rendering: optimizeLegibility; }

body {
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

a {
  color: inherit;
  text-decoration: none; }

img {
  vertical-align: middle; }

blockquote, dl, dd, h1, h2, h3, h4, h5, h6, figure, p, pre, fieldset, ul, ol, menu, form {
  margin: 0; }

button, fieldset, iframe {
  border: 0; }

fieldset, ul, ol, button, menu {
  padding: 0; }

ol, ul {
  list-style: none; }

textarea {
  resize: vertical; }

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0; }

td {
  padding: 0; }

body {
  background-color: #f9f9f9;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.4;
  color: #34495e;
  max-height: 500px; }

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  padding-right: 0; }

.bottom-summary {
  height: 100px;
  width: 100vw;
  background-color: #fff;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 99999;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  display: none;
  box-shadow: -1px -1px 21px 2px #b8b8b8; }
  @media only screen and (min-width: 360px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2) {
    .bottom-summary {
      display: block; } }
  .bottom-summary-upbutton {
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: #c3c3c3;
    top: -20px;
    right: calc(50% - 20px);
    left: calc(50% - 20px);
    border-radius: 50%;
    box-shadow: -1px -1px 21px 2px #b8b8b8;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: #fff; }
  .bottom-summary-discounted-price {
    float: left;
    margin-top: 18px; }
    .bottom-summary-discounted-price div:first-child {
      font-size: 1rem;
      font-weight: 600;
      color: #4a4a4a; }
    .bottom-summary-discounted-price div:last-child {
      font-weight: bold;
      font-size: 1.3rem;
      color: #00a084; }
  .bottom-summary-button {
    margin-top: 20px;
    float: right; }
    .bottom-summary-button a {
      color: #fff;
      text-decoration: none; }
    .bottom-summary-button a:active {
      color: #fff;
      text-decoration: none; }

.bank-box {
  height: 40px;
  border-radius: 6px;
  background-color: #ebf6e8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px; }
  .bank-box img {
    float: left; }
  .bank-box .bank-discount-percent {
    float: left;
    background-color: #fff;
    padding: 5px;
    border-radius: 40%;
    color: #ea2e37;
    font-weight: 600;
    margin-left: 5px;
    font-size: .9rem; }
  .bank-box h5 {
    float: right;
    font-weight: bold; }

.line {
  border-bottom: 1px solid #ececec;
  width: 100%;
  bottom: 0; }

.line-inst {
  border-bottom: 1px solid #ececec;
  width: 100%;
  bottom: 0;
  margin-bottom: 1rem; }

.insurance-logo {
  position: absolute;
  right: 2px;
  top: 0px; }

.btn-light-green {
  background-color: #34495e;
  border-radius: 6px;
  color: #fff; }

.hidden {
  display: none !important; }

.gznm-button {
  line-height: 44px;
  color: #fff;
  padding: 5px 35px;
  border-radius: 6px;
  text-align: center;
  vertical-align: middle;
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer; }

.gznm-btn-sm {
  display: inline-block !important;
  padding: 5px !important; }

.btn-green {
  background-color: #00be9c; }
  .btn-green:hover {
    box-shadow: 0px 3px 0px 0px #00a084; }

.btn-blue {
  background-color: #339fbc; }
  .btn-blue:hover {
    box-shadow: 0px 3px 0px 0px #2d8ca6; }

.btn-padding {
  padding: 10px; }

.btn-small {
  font-size: .7rem;
  padding: 0px 15px;
  width: 180px;
  font-weight: 600;
  padding: 15px 10px; }

.btn-block {
  font-size: 1rem;
  width: 100%;
  font-weight: 600;
  padding: 5px 10px; }

a.gznm-button {
  text-decoration: none;
  color: #fff; }

/*the container must be positioned relative:*/
.gznm-select {
  padding: 7px 15px;
  border: 1px solid #d2d2d2;
  border-radius: 6px;
  font-weight: bold;
  outline: none; }

.select-box:after {
  content: '\25BC';
  display: inline-block;
  box-sizing: border-box;
  color: #232323;
  background-color: #fff;
  margin-left: -22px;
  /* remove the damn :after space */
  pointer-events: none;
  /* let the click pass trough */ }

.input-padding {
  padding: 25px; }

textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active {
  outline: none;
  box-shadow: none !important; }

.option-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  height: 25px;
  width: 25px;
  transition: all 0.15s ease-out 0s;
  background: #fff;
  border: 1px solid #00a084;
  color: #00a084;
  cursor: pointer;
  display: inline-block;
  outline: none;
  position: relative;
  z-index: 1000; }

.option-input:hover {
  background: #fff; }

.option-input:checked {
  border: 2px solid #00a084; }

.option-input:checked::before {
  height: 20px;
  width: 20px;
  position: absolute;
  content: '\f00c';
  font-family: 'FontAwesome';
  display: inline-block;
  font-size: 14px;
  text-align: center;
  line-height: 23px; }

.option-input:checked::after {
  -webkit-animation: click-wave 0.65s;
  animation: click-wave 0.65s;
  background: #00a084;
  content: '';
  display: block;
  position: relative;
  z-index: 100; }

.option-input.radio {
  border-radius: 50%; }

.option-input.radio::after {
  border-radius: 50%; }

/* custom radio */
.customRadio input[type="radio"] {
  position: absolute;
  left: -9999px; }

.customRadio input[type="radio"] + label {
  position: relative;
  padding: 3px 0 0 30px;
  cursor: pointer; }

.customRadio input[type="radio"] + label:before {
  content: '';
  background: #fff;
  border: 2px solid #1cbe9d;
  height: 20px;
  width: 20px;
  margin-top: 3px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0; }

.customRadio input[type="radio"] + label:after {
  content: '';
  background: #1cbe9d;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  top: 8px;
  left: 5px;
  opacity: 0;
  -webkit-transform: scale(2);
          transform: scale(2);
  transition: opacity 0.3s linear, -webkit-transform 0.3s linear;
  transition: transform 0.3s linear, opacity 0.3s linear;
  transition: transform 0.3s linear, opacity 0.3s linear, -webkit-transform 0.3s linear; }

.customRadio input[type="radio"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1); }

/* custom checkbox */
.customCheckbox input[type="checkbox"] {
  position: absolute;
  left: -9999px; }

.customCheckbox input[type="checkbox"] + label {
  position: relative;
  padding: 3px 0 0 30px;
  cursor: pointer; }

.customCheckbox input[type="checkbox"] + label:before {
  content: '';
  background: #fff;
  border: 2px solid #1cbe9d;
  border-radius: 3px;
  height: 20px;
  width: 20px;
  margin-top: 4px;
  position: absolute;
  top: 0;
  left: 0; }

.customCheckbox input[type="checkbox"] + label:after {
  content: '';
  border-style: solid;
  border-width: 0 0 2px 2px;
  border-color: transparent transparent #1cbe9d #1cbe9d;
  width: 12px;
  height: 8px;
  position: absolute;
  top: 8px;
  left: 4px;
  opacity: 0;
  -webkit-transform: scale(2) rotate(-45deg);
          transform: scale(2) rotate(-45deg);
  transition: opacity 0.3s linear, -webkit-transform 0.3s linear;
  transition: transform 0.3s linear, opacity 0.3s linear;
  transition: transform 0.3s linear, opacity 0.3s linear, -webkit-transform 0.3s linear; }

.customCheckbox input[type="checkbox"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1) rotate(-45deg);
          transform: scale(1) rotate(-45deg); }

.icon-gift {
  width: 30px;
  height: 30px;
  float: left;
  background-image: url("../img/icons/gznm-icon-gift.png"); }

.icon-plus {
  width: 30px;
  height: 30px;
  float: left;
  background-image: url("../img/icons/gznm-icon-plus.png"); }

.icon-cancel {
  width: 34px;
  height: 26px;
  float: left;
  background-image: url("../img/icons/gznm-icon-cancel.png"); }

.icon-filter {
  width: 19px;
  height: 19px;
  float: right;
  position: relative;
  margin-top: 2px;
  background-image: url("../img/icons/gznm-icon-filter.png"); }

.icon-arrow-up {
  width: 19px;
  height: 19px;
  float: left;
  background-image: url("../img/icons/gznm-icon-arrow-up.png"); }

.icon-arrow-down {
  width: 19px;
  height: 19px;
  float: left;
  background-image: url("../img/icons/gznm-icon-arrow-down.png"); }

.icon-plane {
  width: 34px;
  height: 26px;
  float: left;
  background-image: url("../img/icons/gznm-icon-plane.png"); }

.icon-card-plane {
  width: 35px;
  height: 30px;
  background-image: url("../img/icons/gznm-icon-card-plane.png"); }

.icon-hand-plane {
  width: 39px;
  height: 40px;
  float: left;
  background-image: url("../img/icons/gznm-icon-hand-plane.png"); }

.icon-plane-going {
  width: 34px;
  height: 29px;
  float: left;
  position: relative;
  margin-top: -5px;
  background-image: url("../img/icons/gznm-icon-plane-going.png"); }

.icon-plane-return {
  width: 34px;
  height: 29px;
  float: left;
  background-image: url("../img/icons/gznm-icon-plane-return.png"); }

.icon-bell {
  width: 34px;
  height: 25px;
  float: left;
  background-image: url("../img/icons/gznm-icon-bell.png"); }

.icon-car {
  width: 32px;
  height: 25px;
  float: left;
  background-image: url("../img/icons/gznm-icon-car.png"); }

.icon-user {
  width: 31px;
  height: 31px;
  float: left;
  background-image: url("../img/icons/gznm-icon-user.png"); }

.icon-birthday {
  width: 31px;
  height: 31px;
  float: left;
  background-image: url("../img/icons/gznm-icon-birthday.png"); }

.icon-payment-info {
  width: 31px;
  height: 31px;
  float: left;
  background-image: url("../img/icons/gznm-icon-payment-info.png"); }

.icon-note-edit {
  width: 31px;
  height: 31px;
  float: left;
  background-image: url("../img/icons/gznm-icon-note-edit.png"); }

.icon-going {
  width: 102px;
  height: 12px;
  float: left;
  background-image: url("../img/icons/gznm-icon-going.png"); }

.icon-ok {
  width: 20px;
  height: 17px;
  float: left;
  background-image: url("../img/icons/gznm-icon-ok.png"); }

.icon-local {
  width: 18px;
  height: 21px;
  float: left;
  background-image: url("../img/icons/gznm-icon-local.png"); }

.icon-lux {
  width: 18px;
  height: 21px;
  float: left;
  background-image: url("../img/icons/gznm-icon-lux.png"); }

.icon-calender {
  width: 24px;
  height: 24px;
  float: left;
  background-image: url("../img/icons/gznm-icon-calender.png"); }

.icon-info {
  width: 24px;
  height: 24px;
  float: left;
  background-image: url("../img/icons/gznm-icon-info.png"); }

.icon-remove {
  width: 24px;
  height: 24px;
  float: left;
  background-image: url("../img/icons/gznm-icon-remove.png"); }

.icon-circle-ok {
  position: relative;
  margin-top: -1px;
  width: 24px;
  height: 24px;
  float: left;
  background-image: url("../img/icons/gznm-icon-circle-ok.png"); }

.icon-remove-red {
  position: relative;
  margin-top: -1px;
  width: 24px;
  height: 24px;
  float: left;
  background-image: url("../img/icons/gznm-icon-remove-red.png"); }

.icon-main-search-bell {
  position: relative;
  float: left;
  width: 34px;
  height: 29px;
  background-image: url("../img/icons/gznm-main-search-bell-icon.png"); }

.icon-main-search-bell-active {
  position: relative;
  float: left;
  width: 34px;
  height: 29px;
  background-image: url("../img/icons/gznm-main-search-bell-icon-active.png"); }

.icon-main-search-map {
  position: relative;
  float: left;
  width: 34px;
  height: 29px;
  background-image: url("../img/icons/gznm-main-search-map-icon.png"); }

.icon-main-search-map-active {
  position: relative;
  float: left;
  width: 34px;
  height: 29px;
  background-image: url("../img/icons/gznm-main-search-map-icon-active.png"); }

.icon-main-search-plane {
  position: relative;
  float: left;
  width: 34px;
  height: 29px;
  background-image: url("../img/icons/gznm-main-search-plane-icon.png"); }

.icon-main-search-plane-active {
  position: relative;
  float: left;
  width: 34px;
  height: 29px;
  background-image: url("../img/icons/gznm-main-search-plane-icon-active.png"); }

.icon-main-search-bed {
  position: relative;
  float: left;
  width: 36px;
  height: 31px;
  background-image: url("../img/icons/gznm-main-search-bed-icon.png"); }

.icon-main-search-search {
  position: relative;
  float: left;
  width: 34px;
  height: 31px;
  background-image: url("../img/icons/gznm-main-search-search-icon.png"); }

.icon-main-search-photo {
  position: relative;
  float: left;
  width: 36px;
  height: 31px;
  margin-top: -2px;
  background-image: url("../img/icons/gznm-main-search-photo-icon.png"); }

.icon-main-search-calendar {
  position: relative;
  float: left;
  width: 36px;
  height: 31px;
  background-image: url("../img/icons/gznm-main-search-calendar-icon.png"); }

.icon-main-search-change {
  position: relative;
  float: left;
  width: 36px;
  height: 31px;
  background-image: url("../img/icons/gznm-main-search-change-icon.png"); }

.icon-main-search-location {
  position: relative;
  float: left;
  width: 36px;
  height: 31px;
  background-image: url("../img/icons/gznm-main-search-location-icon.png"); }

.icon-main-search-person {
  position: relative;
  float: left;
  width: 36px;
  height: 31px;
  background-image: url("../img/icons/gznm-main-search-person-icon.png"); }

.icon-main-search-plane-card {
  position: relative;
  float: left;
  width: 36px;
  height: 19px;
  background-image: url("../img/icons/gznm-main-search-plane-card-icon.png"); }

.icon-main-green-location {
  position: relative;
  float: left;
  width: 15px;
  height: 18px;
  background-image: url("../img/icons/gznm-icon-green-location.png"); }

.icon-main-green-building {
  position: relative;
  float: left;
  width: 23px;
  height: 23px;
  margin-top: -3px;
  background-image: url("../img/icons/gznm-icon-green-building.png"); }

.icon-main-search-info {
  position: relative;
  float: left;
  width: 23px;
  height: 23px;
  margin-top: -3px;
  background-image: url("../img/icons/gznm-main-search-info-icon.png"); }

.icon-main-search-plus {
  position: relative;
  float: left;
  width: 23px;
  height: 23px;
  margin-top: -3px;
  background-image: url("../img/icons/gznm-main-search-plus-icon.png"); }

.icon-main-search-apply {
  position: relative;
  float: left;
  width: 23px;
  height: 23px;
  margin-top: -3px;
  background-image: url("../img/icons/gznm-main-search-apply-icon.png"); }

.dropDownList {
  position: absolute;
  margin-top: 80px;
  min-width: 80px;
  min-height: 160px;
  background-color: #fff;
  left: 0;
  right: 0;
  border: 1px solid #d9dde1;
  top: -10px;
  min-width: 320px;
  border-radius: 6px;
  box-shadow: 1px 3px 15px -1px rgba(104, 104, 104, 0.3);
  display: none; }
  .dropDownList h6 {
    color: #088b74;
    font-weight: bold;
    padding-top: 15px;
    padding-bottom: 15px; }
  .dropDownList ul::before {
    content: url("../../img/icons/dropDownTop.png");
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: #fff;
    font-size: 24px;
    padding-right: 0.5em;
    position: absolute;
    right: auto;
    left: 20%;
    top: -25px !important;
    margin-left: -5px;
    position: absolute; }
  .dropDownList ul li {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    cursor: pointer;
    background-color: #088b74; }
    .dropDownList ul li:last-child {
      border-radius: 0 0 6px 6px; }
    .dropDownList ul li:nth-child(odd) {
      background-color: #f0f1f3; }
    .dropDownList ul li:nth-child(even) {
      background-color: #f7f8f9;
      border-bottom: 1px solid #fff;
      border-top: 1px solid #fff; }

.dropdown-room {
  min-width: 640px; }
  .dropdown-room .newRoom .room-person-select {
    padding: 20px 0px 0px 20px;
    display: flex;
    justify-content: flex-start; }
    .dropdown-room .newRoom .room-person-select .form-group label {
      font-weight: 400;
      font-size: .9rem; }
    .dropdown-room .newRoom .room-person-select .form-group select:focus {
      outline: none; }
    .dropdown-room .newRoom .room-person-select .form-group select:active {
      outline: none; }
    .dropdown-room .newRoom .room-person-select .form-control {
      border: 1px solid #e4e4e4; }
    .dropdown-room .newRoom .room-person-select .room-text {
      padding-top: 35px;
      font-weight: 500;
      min-width: 70px;
      margin-right: 15px; }
    .dropdown-room .newRoom .room-person-select .room-person {
      min-width: 100px;
      margin-right: 15px; }
    .dropdown-room .newRoom .room-person-select .room-child {
      min-width: 70px;
      margin-right: 15px; }
  .dropdown-room .newRoom .room-remove {
    color: #ea2e37;
    font-weight: 600;
    min-width: 110px;
    font-size: .8rem;
    float: right;
    cursor: pointer; }
    .dropdown-room .newRoom .room-remove i {
      margin-top: -4px; }
  .dropdown-room .room-person-warn {
    color: #349fbd;
    font-size: .9rem;
    padding: 5px 0px 5px 0px; }
    .dropdown-room .room-person-warn i {
      margin-right: 10px; }
  .dropdown-room .room-person-buttons {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    padding-right: 15px; }
    .dropdown-room .room-person-buttons button {
      background-color: transparent;
      font-size: .9rem;
      font-weight: 600;
      cursor: pointer; }
      .dropdown-room .room-person-buttons button i {
        margin-right: 5px; }
      .dropdown-room .room-person-buttons button:first-child {
        color: #34495e; }
        .dropdown-room .room-person-buttons button:first-child i {
          margin-top: -4px; }
      .dropdown-room .room-person-buttons button:last-child {
        color: #0d7c69; }
        .dropdown-room .room-person-buttons button:last-child i {
          margin-top: -4px; }
    .dropdown-room .room-person-buttons .addRoomWarn {
      color: #ea2e37; }

.flightPersonSelectArea {
  position: relative; }
  .flightPersonSelectArea .dropDownFlightPersonSelect {
    position: absolute;
    margin-top: 80px;
    min-width: 30px;
    min-height: 160px;
    background-color: #fff;
    left: 0;
    right: 0;
    border: 1px solid #d9dde1;
    top: -5px;
    border-radius: 6px;
    box-shadow: 1px 3px 15px -1px rgba(104, 104, 104, 0.2);
    display: none;
    z-index: 999999999; }
    .flightPersonSelectArea .dropDownFlightPersonSelect .adultSelect {
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding-top: 15px;
      padding-right: 15px;
      padding-left: 15px; }
      .flightPersonSelectArea .dropDownFlightPersonSelect .adultSelect label {
        padding-top: 5px; }
      .flightPersonSelectArea .dropDownFlightPersonSelect .adultSelect .minus, .flightPersonSelectArea .dropDownFlightPersonSelect .adultSelect .plus {
        padding: 5px;
        cursor: pointer; }
      .flightPersonSelectArea .dropDownFlightPersonSelect .adultSelect .form-control {
        max-width: 70px; }

.step-area {
  height: 212px;
  width: 1140px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  @media only screen and (min-width: 360px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2) {
    .step-area {
      display: none; } }
  .step-area .step-wizard {
    height: 90px;
    width: 705px;
    display: flex;
    justify-content: space-around; }
    @media only screen and (min-width: 360px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2) {
      .step-area .step-wizard {
        width: 375px;
        display: none;
        justify-content: flex-start; } }
    .step-area .step-wizard .step1 {
      text-decoration: none; }
      .step-area .step-wizard .step1-inner {
        width: 210px;
        position: relative;
        cursor: pointer; }
        .step-area .step-wizard .step1-inner-number {
          margin-right: auto;
          margin-left: auto;
          width: 46px;
          height: 46px;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          color: #cecfcf;
          border: 2px solid #cecfcf;
          background-color: #fff; }
          .step-area .step-wizard .step1-inner-number::before {
            content: '1'; }
        .step-area .step-wizard .step1-inner-text {
          width: 210px;
          display: block;
          margin-top: 20px;
          color: #cecfcf;
          font-weight: 600;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 15px; }
        .step-area .step-wizard .step1-inner-line {
          position: absolute;
          border-bottom: 4px solid #dbdbdb;
          width: 90px;
          top: 20px;
          left: 137px;
          border-radius: 1px; }
    .step-area .step-wizard .step2 {
      text-decoration: none; }
      .step-area .step-wizard .step2-inner {
        width: 210px;
        position: relative;
        cursor: pointer; }
        .step-area .step-wizard .step2-inner-number {
          margin-right: auto;
          margin-left: auto;
          width: 46px;
          height: 46px;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          color: #cecfcf;
          border: 2px solid #cecfcf;
          background-color: #fff; }
          .step-area .step-wizard .step2-inner-number::before {
            content: '2'; }
        .step-area .step-wizard .step2-inner-text {
          display: block;
          margin-top: 20px;
          color: #cecfcf;
          font-weight: 600;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 15px; }
        .step-area .step-wizard .step2-inner-line-1 {
          position: absolute;
          border-bottom: 4px solid #dbdbdb;
          width: 84px;
          top: 20px;
          left: -9px;
          border-radius: 1px;
          z-index: 999; }
        .step-area .step-wizard .step2-inner-line-2 {
          position: absolute;
          border-bottom: 4px solid #dbdbdb;
          width: 92px;
          top: 20px;
          left: 135px;
          border-radius: 1px;
          z-index: 999; }
    .step-area .step-wizard .step3 {
      text-decoration: none; }
      .step-area .step-wizard .step3-inner {
        width: 210px;
        position: relative;
        cursor: pointer; }
        .step-area .step-wizard .step3-inner-number {
          margin-right: auto;
          margin-left: auto;
          width: 46px;
          height: 46px;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          color: #cecfcf;
          border: 2px solid #cecfcf;
          background-color: #fff; }
          .step-area .step-wizard .step3-inner-number::before {
            content: '3'; }
        .step-area .step-wizard .step3-inner-text {
          display: block;
          margin-top: 20px;
          color: #cecfcf;
          font-weight: 600;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 15px; }
        .step-area .step-wizard .step3-inner-line {
          position: absolute;
          border-bottom: 4px solid #dbdbdb;
          width: 83px;
          top: 20px;
          left: -9px;
          border-radius: 1px;
          z-index: 999; }
    .step-area .step-wizard .step-ok .step1-inner-number, .step-area .step-wizard .step-ok .step2-inner-number, .step-area .step-wizard .step-ok .step3-inner-number {
      color: #00a084;
      background-color: #00a084;
      border: 1px solid #00a084;
      color: #fff; }
    .step-area .step-wizard .step-ok .step1-inner-text, .step-area .step-wizard .step-ok .step2-inner-text, .step-area .step-wizard .step-ok .step3-inner-text {
      color: #232323; }
    .step-area .step-wizard .step-ok .step1-inner-line {
      position: absolute;
      border-bottom: 4px solid #00a084;
      width: 90px;
      top: 20px;
      left: 137px;
      border-radius: 1px; }
    .step-area .step-wizard .step-ok .step2-inner-line-1 {
      position: absolute;
      border-bottom: 4px solid #00a084;
      width: 84px;
      top: 20px;
      left: -9px;
      border-radius: 1px;
      z-index: 999; }
    .step-area .step-wizard .step-ok .step2-inner-line-2 {
      position: absolute;
      border-bottom: 4px solid #00a084;
      width: 92px;
      top: 20px;
      left: 135px;
      border-radius: 1px;
      z-index: 999; }
    .step-area .step-wizard .step-ok .step3-inner-line {
      position: absolute;
      border-bottom: 4px solid #00a084;
      width: 83px;
      top: 20px;
      left: -9px;
      border-radius: 1px;
      z-index: 999; }
    .step-area .step-wizard .step-active .step1-inner-number, .step-area .step-wizard .step-active .step2-inner-number, .step-area .step-wizard .step-active .step3-inner-number {
      color: #00a084;
      background-color: #00a084;
      border: 1px solid #00a084;
      color: #fff; }
      .step-area .step-wizard .step-active .step1-inner-number::before, .step-area .step-wizard .step-active .step2-inner-number::before, .step-area .step-wizard .step-active .step3-inner-number::before {
        color: #fff;
        content: ''; }
      .step-area .step-wizard .step-active .step1-inner-number::after, .step-area .step-wizard .step-active .step2-inner-number::after, .step-area .step-wizard .step-active .step3-inner-number::after {
        position: absolute;
        color: #fff;
        content: '✔'; }
    .step-area .step-wizard .step-active .step1-inner-text, .step-area .step-wizard .step-active .step2-inner-text, .step-area .step-wizard .step-active .step3-inner-text {
      color: #232323; }
    .step-area .step-wizard .step-active .step1-inner-line {
      position: absolute;
      border-bottom: 4px solid #00a084;
      width: 90px;
      top: 20px;
      left: 137px;
      border-radius: 1px; }
    .step-area .step-wizard .step-active .step2-inner-line-1 {
      position: absolute;
      border-bottom: 4px solid #00a084;
      width: 84px;
      top: 20px;
      left: -9px;
      border-radius: 1px;
      z-index: 999; }
    .step-area .step-wizard .step-active .step2-inner-line-2 {
      position: absolute;
      border-bottom: 4px solid #00a084;
      width: 92px;
      top: 20px;
      left: 135px;
      border-radius: 1px;
      z-index: 999; }
    .step-area .step-wizard .step-active .step3-inner-line {
      position: absolute;
      border-bottom: 4px solid #00a084;
      width: 83px;
      top: 20px;
      left: -9px;
      border-radius: 1px;
      z-index: 999; }

.left-column {
  min-width: 714px;
  height: auto;
  background-color: #fff;
  display: flex;
  justify-content: center;
  border: 1px solid #e4e4e4;
  margin-bottom: 50px;
  float: left; }
  @media only screen and (min-width: 360px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2) {
    .left-column {
      min-width: 100vw;
      margin-left: auto;
      margin-right: auto;
      opacity: 1;
      transition: .5s;
      -webkit-transform: translateY(0);
              transform: translateY(0); } }
  .left-column-inner {
    width: 680px; }
    @media only screen and (min-width: 360px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2) {
      .left-column-inner {
        width: calc(100vw - 20px); } }
    .left-column-inner-membership {
      height: 130px; }
      .left-column-inner-membership .top-middle-area {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 30px; }
        .left-column-inner-membership .top-middle-area-avatar {
          width: 77px;
          height: 77px;
          cursor: pointer;
          background-image: url("../../img/avatar.png"); }
        .left-column-inner-membership .top-middle-area-text {
          margin-left: 20px;
          font-size: 1.4rem; }
          @media only screen and (min-width: 360px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2) {
            .left-column-inner-membership .top-middle-area-text {
              font-size: 14px; } }
      .left-column-inner-membership .bottom {
        position: relative;
        display: flex;
        justify-content: center;
        margin-top: 40px; }
        @media only screen and (min-width: 360px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2) {
          .left-column-inner-membership .bottom {
            margin-top: 40px; } }
        .left-column-inner-membership .bottom .button-area {
          display: flex;
          justify-content: center;
          position: absolute;
          top: -25px; }
          .left-column-inner-membership .bottom .button-area .signin-btn {
            margin-right: 5px; }
          .left-column-inner-membership .bottom .button-area .signup-btn {
            margin-left: 5px; }
    .left-column-inner-content {
      margin-top: 60px; }
      @media only screen and (min-width: 360px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2) {
        .left-column-inner-content {
          margin-left: auto;
          margin-right: auto; } }
      .left-column-inner-content .title {
        height: 20px;
        margin-bottom: 30px;
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        color: #34495e; }
        .left-column-inner-content .title .text {
          margin-left: 10px;
          font-weight: 600;
          font-size: 1.4rem; }
      .left-column-inner-content .panel {
        width: 100%;
        margin-top: 20px;
        border: 1px solid #e4e4e4;
        border-radius: 6px;
        background-color: #f9f9f9;
        margin-bottom: 50px;
        padding: 0px 20px; }
        @media only screen and (min-width: 360px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2) {
          .left-column-inner-content .panel {
            padding: 0px 10px; } }
        .left-column-inner-content .panel-inner {
          position: relative;
          margin-top: 30px;
          margin-bottom: 30px;
          margin-left: auto;
          margin-right: auto;
          display: block; }
          .left-column-inner-content .panel-inner .title-text {
            font-size: 1rem;
            font-weight: 600;
            margin-bottom: 20px;
            align-self: center; }
          .left-column-inner-content .panel-inner .list-box-area {
            margin-top: 15px; }
            .left-column-inner-content .panel-inner .list-box-area .list-box {
              color: #4a4a4a;
              border-radius: 6px;
              margin-bottom: 10px;
              font-size: 0.8rem;
              align-items: center;
              overflow: hidden;
              cursor: pointer;
              color: #34495e; }
            .left-column-inner-content .panel-inner .list-box-area .otel-additional-services {
              position: relative;
              padding: 20px;
              background-color: #fff;
              min-height: 80px;
              line-height: 40px;
              vertical-align: middle;
              border-radius: 6px;
              margin-bottom: 1rem;
              cursor: pointer; }
              @media only screen and (min-width: 360px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2) {
                .left-column-inner-content .panel-inner .list-box-area .otel-additional-services {
                  min-height: 110px;
                  line-height: 0; } }
              .left-column-inner-content .panel-inner .list-box-area .otel-additional-services-text {
                font-size: 1rem;
                float: left; }
                @media only screen and (min-width: 360px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2) {
                  .left-column-inner-content .panel-inner .list-box-area .otel-additional-services-text {
                    position: absolute;
                    top: 25px;
                    left: 20px; } }
              .left-column-inner-content .panel-inner .list-box-area .otel-additional-services-person {
                float: left;
                margin-left: 20px; }
                @media only screen and (min-width: 360px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2) {
                  .left-column-inner-content .panel-inner .list-box-area .otel-additional-services-person {
                    position: absolute;
                    left: 0;
                    bottom: 15px; } }
              .left-column-inner-content .panel-inner .list-box-area .otel-additional-services-price {
                font-size: 20px;
                font-weight: 600;
                float: right;
                margin-right: 20px; }
                .left-column-inner-content .panel-inner .list-box-area .otel-additional-services-price small {
                  font-weight: bold; }
                @media only screen and (min-width: 360px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2) {
                  .left-column-inner-content .panel-inner .list-box-area .otel-additional-services-price {
                    position: absolute;
                    font-size: 1.1rem;
                    right: 0;
                    bottom: 30px; } }
              .left-column-inner-content .panel-inner .list-box-area .otel-additional-services-check {
                float: right;
                margin-top: 7px; }
                @media only screen and (min-width: 360px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2) {
                  .left-column-inner-content .panel-inner .list-box-area .otel-additional-services-check {
                    position: absolute;
                    top: 5px;
                    right: 20px; } }
            .left-column-inner-content .panel-inner .list-box-area .otel-additional-services-active {
              border: 1px solid #00a084;
              box-shadow: 0px 3px 0px 0px #00a084; }
            .left-column-inner-content .panel-inner .list-box-area .list-box-extra-products .transportation {
              display: flex;
              justify-content: space-between; }
              @media only screen and (min-width: 360px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2) {
                .left-column-inner-content .panel-inner .list-box-area .list-box-extra-products .transportation {
                  flex-flow: column; } }
            .left-column-inner-content .panel-inner .list-box-area .list-box-extra-products .airplane-direction {
              display: flex;
              justify-content: flex-start;
              margin-top: 25px; }
              .left-column-inner-content .panel-inner .list-box-area .list-box-extra-products .airplane-direction div {
                margin-right: 15px; }
            .left-column-inner-content .panel-inner .list-box-area .list-box-extra-products .airplane-form {
              margin-top: 20px !important; }
            .left-column-inner-content .panel-inner .list-box-area .list-box-extra-products .departure-flights-cancel {
              display: flex;
              justify-content: flex-end;
              align-items: center;
              margin-bottom: 5px; }
              .left-column-inner-content .panel-inner .list-box-area .list-box-extra-products .departure-flights-cancel div {
                width: 200px;
                height: 30px;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                cursor: pointer; }
                .left-column-inner-content .panel-inner .list-box-area .list-box-extra-products .departure-flights-cancel div span:nth-child(2) {
                  padding-top: 2px;
                  font-weight: bold; }
            .left-column-inner-content .panel-inner .list-box-area .list-box-extra-products .departure-flights-box {
              background-color: #fff;
              border: 1px solid #e4e4e4;
              border-radius: 6px; }
              .left-column-inner-content .panel-inner .list-box-area .list-box-extra-products .departure-flights-box-title {
                display: flex;
                justify-content: space-between;
                padding: 20px; }
                @media only screen and (min-width: 360px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2) {
                  .left-column-inner-content .panel-inner .list-box-area .list-box-extra-products .departure-flights-box-title {
                    padding-bottom: 0px; } }
                .left-column-inner-content .panel-inner .list-box-area .list-box-extra-products .departure-flights-box-title .departure-text {
                  font-weight: bold;
                  margin-right: 10px;
                  width: 300px; }
                  @media only screen and (min-width: 360px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2) {
                    .left-column-inner-content .panel-inner .list-box-area .list-box-extra-products .departure-flights-box-title .departure-text span:nth-child(1) {
                      position: relative;
                      top: -10px; } }
                  .left-column-inner-content .panel-inner .list-box-area .list-box-extra-products .departure-flights-box-title .departure-text .departure-text-date {
                    font-weight: normal;
                    color: #32a1c0;
                    float: right; }
                    @media only screen and (min-width: 360px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2) {
                      .left-column-inner-content .panel-inner .list-box-area .list-box-extra-products .departure-flights-box-title .departure-text .departure-text-date {
                        font-size: .9rem;
                        float: left; } }
                  .left-column-inner-content .panel-inner .list-box-area .list-box-extra-products .departure-flights-box-title .departure-text span {
                    margin-left: 5px; }
                    @media only screen and (min-width: 360px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2) {
                      .left-column-inner-content .panel-inner .list-box-area .list-box-extra-products .departure-flights-box-title .departure-text span {
                        position: relative;
                        top: -9px; } }
                .left-column-inner-content .panel-inner .list-box-area .list-box-extra-products .departure-flights-box-title .departure-date {
                  color: #32a1c0;
                  font-size: 1rem;
                  text-align: left; }
                  @media only screen and (min-width: 360px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2) {
                    .left-column-inner-content .panel-inner .list-box-area .list-box-extra-products .departure-flights-box-title .departure-date {
                      position: relative;
                      float: left; }
                      .left-column-inner-content .panel-inner .list-box-area .list-box-extra-products .departure-flights-box-title .departure-date span {
                        font-size: 1rem;
                        display: none; } }
                .left-column-inner-content .panel-inner .list-box-area .list-box-extra-products .departure-flights-box-title .departure-filter {
                  min-width: 120px;
                  cursor: pointer; }
                  .left-column-inner-content .panel-inner .list-box-area .list-box-extra-products .departure-flights-box-title .departure-filter span {
                    margin-right: 5px;
                    font-size: 1rem; }
              .left-column-inner-content .panel-inner .list-box-area .list-box-extra-products .departure-flights-box-filter-area {
                background-color: #f5fafc;
                padding: 15px 20px; }
                .left-column-inner-content .panel-inner .list-box-area .list-box-extra-products .departure-flights-box-filter-area .filter-area-close {
                  float: right; }
                .left-column-inner-content .panel-inner .list-box-area .list-box-extra-products .departure-flights-box-filter-area-preferences {
                  display: flex;
                  justify-content: space-between; }
                  @media only screen and (min-width: 360px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2) {
                    .left-column-inner-content .panel-inner .list-box-area .list-box-extra-products .departure-flights-box-filter-area-preferences {
                      display: block; } }
                  .left-column-inner-content .panel-inner .list-box-area .list-box-extra-products .departure-flights-box-filter-area-preferences .filter-title {
                    font-weight: bold;
                    font-size: 1rem; }
                  .left-column-inner-content .panel-inner .list-box-area .list-box-extra-products .departure-flights-box-filter-area-preferences ul {
                    margin-top: 5px; }
                    .left-column-inner-content .panel-inner .list-box-area .list-box-extra-products .departure-flights-box-filter-area-preferences ul li {
                      padding-top: 5px;
                      padding-bottom: 5px; }
                .left-column-inner-content .panel-inner .list-box-area .list-box-extra-products .departure-flights-box-filter-area-buttons {
                  display: flex;
                  justify-content: flex-start;
                  align-items: center;
                  margin-top: 15px; }
                  .left-column-inner-content .panel-inner .list-box-area .list-box-extra-products .departure-flights-box-filter-area-buttons div:nth-child(1) {
                    margin-right: 10px;
                    cursor: pointer; }
                    .left-column-inner-content .panel-inner .list-box-area .list-box-extra-products .departure-flights-box-filter-area-buttons div:nth-child(1) b {
                      color: #00a084;
                      font-size: 0.8rem;
                      margin-left: 3px;
                      padding-top: 15px; }
                  .left-column-inner-content .panel-inner .list-box-area .list-box-extra-products .departure-flights-box-filter-area-buttons div:nth-child(2) {
                    cursor: pointer;
                    margin-left: 30px; }
                    .left-column-inner-content .panel-inner .list-box-area .list-box-extra-products .departure-flights-box-filter-area-buttons div:nth-child(2) b {
                      color: #ea2e37;
                      font-size: 0.8rem;
                      margin-left: 3px;
                      padding-top: 5px; }
              .left-column-inner-content .panel-inner .list-box-area .list-box-extra-products .departure-flights-box-bottom {
                height: 40px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                background-color: #e6f3f7;
                border-top: 1px solid #cbe6ee; }
                .left-column-inner-content .panel-inner .list-box-area .list-box-extra-products .departure-flights-box-bottom div {
                  width: 33%;
                  padding-left: 20px;
                  cursor: pointer;
                  font-size: .9rem; }
                  .left-column-inner-content .panel-inner .list-box-area .list-box-extra-products .departure-flights-box-bottom div i {
                    float: right;
                    margin-right: 20px;
                    margin-top: 3px; }
                .left-column-inner-content .panel-inner .list-box-area .list-box-extra-products .departure-flights-box-bottom div:nth-child(1) {
                  border-right: 1px solid #cbe6ee; }
                .left-column-inner-content .panel-inner .list-box-area .list-box-extra-products .departure-flights-box-bottom div:nth-child(3) {
                  border-left: 1px solid #cbe6ee; }
            .left-column-inner-content .panel-inner .list-box-area .list-box-extra-products .return-flights {
              margin-top: 30px; }
            .left-column-inner-content .panel-inner .list-box-area .list-box-extra-products .flight-list {
              margin-top: 30px; }
              .left-column-inner-content .panel-inner .list-box-area .list-box-extra-products .flight-list .flight-box {
                background-color: #fff;
                display: flex;
                justify-content: space-between;
                border-radius: 6px;
                padding: 20px;
                align-items: center;
                margin-bottom: 1rem;
                position: relative;
                cursor: pointer;
                pointer-events: inherit; }
                @media only screen and (min-width: 360px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2) {
                  .left-column-inner-content .panel-inner .list-box-area .list-box-extra-products .flight-list .flight-box {
                    min-height: 120px;
                    padding: 10px; } }
                .left-column-inner-content .panel-inner .list-box-area .list-box-extra-products .flight-list .flight-box .airline-company {
                  display: flex;
                  justify-content: flex-start;
                  align-items: center; }
                  @media only screen and (min-width: 360px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2) {
                    .left-column-inner-content .panel-inner .list-box-area .list-box-extra-products .flight-list .flight-box .airline-company {
                      position: absolute;
                      left: 10px;
                      top: 10px; } }
                  .left-column-inner-content .panel-inner .list-box-area .list-box-extra-products .flight-list .flight-box .airline-company-logo {
                    margin-right: 8px; }
                  .left-column-inner-content .panel-inner .list-box-area .list-box-extra-products .flight-list .flight-box .airline-company-text {
                    font-size: .9rem; }
                    .left-column-inner-content .panel-inner .list-box-area .list-box-extra-products .flight-list .flight-box .airline-company-text div small {
                      font-size: .8rem;
                      font-weight: bold; }
                .left-column-inner-content .panel-inner .list-box-area .list-box-extra-products .flight-list .flight-box .flight-times {
                  width: 200px;
                  display: flex;
                  justify-content: space-between;
                  align-items: center;
                  font-size: .9rem; }
                  @media only screen and (min-width: 360px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2) {
                    .left-column-inner-content .panel-inner .list-box-area .list-box-extra-products .flight-list .flight-box .flight-times {
                      position: absolute;
                      bottom: 10px;
                      left: 10px; } }
                  .left-column-inner-content .panel-inner .list-box-area .list-box-extra-products .flight-list .flight-box .flight-times div:nth-child(1) div:nth-child(1) {
                    font-weight: bold; }
                  .left-column-inner-content .panel-inner .list-box-area .list-box-extra-products .flight-list .flight-box .flight-times div:nth-child(3) div:nth-child(1) {
                    font-weight: bold; }
                  .left-column-inner-content .panel-inner .list-box-area .list-box-extra-products .flight-list .flight-box .flight-times .transfer-time {
                    display: inline-block;
                    text-align: center; }
                    .left-column-inner-content .panel-inner .list-box-area .list-box-extra-products .flight-list .flight-box .flight-times .transfer-time div:nth-child(1) {
                      color: #339fbc;
                      font-size: .8rem; }
                    .left-column-inner-content .panel-inner .list-box-area .list-box-extra-products .flight-list .flight-box .flight-times .transfer-time div:nth-child(3) {
                      font-size: .8rem; }
                  .left-column-inner-content .panel-inner .list-box-area .list-box-extra-products .flight-list .flight-box .flight-times div:nth-child(3) span {
                    display: block; }
                .left-column-inner-content .panel-inner .list-box-area .list-box-extra-products .flight-list .flight-box .flight-select {
                  min-width: 10px;
                  display: flex;
                  justify-content: flex-end;
                  align-items: center; }
                  @media only screen and (min-width: 360px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2) {
                    .left-column-inner-content .panel-inner .list-box-area .list-box-extra-products .flight-list .flight-box .flight-select {
                      position: absolute;
                      top: 15px;
                      right: 10px; } }
                  .left-column-inner-content .panel-inner .list-box-area .list-box-extra-products .flight-list .flight-box .flight-select-price {
                    font-size: 1.1rem;
                    margin-right: 15px; }
                    .left-column-inner-content .panel-inner .list-box-area .list-box-extra-products .flight-list .flight-box .flight-select-price div:nth-child(1) {
                      font-weight: bold; }
                      .left-column-inner-content .panel-inner .list-box-area .list-box-extra-products .flight-list .flight-box .flight-select-price div:nth-child(1) small {
                        font-weight: bold; }
                    .left-column-inner-content .panel-inner .list-box-area .list-box-extra-products .flight-list .flight-box .flight-select-price div:nth-child(2) {
                      font-size: .7rem;
                      color: #979797; }
                      @media only screen and (min-width: 360px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2) {
                        .left-column-inner-content .panel-inner .list-box-area .list-box-extra-products .flight-list .flight-box .flight-select-price div:nth-child(2) {
                          display: none; } }
                .left-column-inner-content .panel-inner .list-box-area .list-box-extra-products .flight-list .flight-box .flight-ticket-detail {
                  display: none; }
                  @media only screen and (min-width: 360px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2) {
                    .left-column-inner-content .panel-inner .list-box-area .list-box-extra-products .flight-list .flight-box .flight-ticket-detail {
                      display: block;
                      position: absolute;
                      right: 20px;
                      bottom: 15px;
                      width: 50px;
                      font-size: .8rem;
                      color: #979797;
                      text-align: center; } }
              .left-column-inner-content .panel-inner .list-box-area .list-box-extra-products .flight-list .filter-box-active {
                border: 1px solid #00a084;
                box-shadow: 0px 3px 0px 0px #00a084; }
              .left-column-inner-content .panel-inner .list-box-area .list-box-extra-products .flight-list .show-all-flights {
                font-size: .8rem;
                display: flex;
                justify-content: flex-end;
                margin-bottom: 20px; }
                .left-column-inner-content .panel-inner .list-box-area .list-box-extra-products .flight-list .show-all-flights span {
                  color: #0e927b;
                  cursor: pointer; }
            .left-column-inner-content .panel-inner .list-box-area .list-box-extra-products .airline-transfer-select-title {
              display: flex;
              justify-content: flex-start;
              padding: 20px 0px;
              font-weight: 600;
              font-size: 1rem; }
              .left-column-inner-content .panel-inner .list-box-area .list-box-extra-products .airline-transfer-select-title .icon-car {
                margin-right: 10px; }
            .left-column-inner-content .panel-inner .list-box-area .list-box-extra-products .airline-transfer-select-direction {
              display: flex;
              justify-content: flex-start;
              margin-bottom: 20px; }
              .left-column-inner-content .panel-inner .list-box-area .list-box-extra-products .airline-transfer-select-direction div {
                margin-right: 20px; }
              @media only screen and (min-width: 360px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2) {
                .left-column-inner-content .panel-inner .list-box-area .list-box-extra-products .airline-transfer-select-direction {
                  flex-flow: column; } }
            .left-column-inner-content .panel-inner .list-box-area .list-box-extra-products .airline-transfer-select-box {
              position: relative;
              min-height: 80px;
              display: flex;
              justify-content: space-between;
              align-items: center;
              padding-left: 20px;
              padding-right: 20px;
              background-color: #fff;
              border-radius: 6px;
              cursor: pointer; }
              @media only screen and (min-width: 360px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2) {
                .left-column-inner-content .panel-inner .list-box-area .list-box-extra-products .airline-transfer-select-box {
                  padding: 10px;
                  min-height: 60px; } }
              .left-column-inner-content .panel-inner .list-box-area .list-box-extra-products .airline-transfer-select-box-text div:nth-child(2) {
                font-size: .9rem;
                font-weight: 600; }
              .left-column-inner-content .panel-inner .list-box-area .list-box-extra-products .airline-transfer-select-box-price {
                min-width: 120px;
                display: flex;
                justify-content: space-between; }
                @media only screen and (min-width: 360px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2) {
                  .left-column-inner-content .panel-inner .list-box-area .list-box-extra-products .airline-transfer-select-box-price {
                    justify-content: flex-end; } }
                .left-column-inner-content .panel-inner .list-box-area .list-box-extra-products .airline-transfer-select-box-price div {
                  font-weight: 600;
                  font-size: 1.3rem; }
                  @media only screen and (min-width: 360px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2) {
                    .left-column-inner-content .panel-inner .list-box-area .list-box-extra-products .airline-transfer-select-box-price div {
                      font-size: 1.1rem;
                      margin-right: 5px; } }
                  .left-column-inner-content .panel-inner .list-box-area .list-box-extra-products .airline-transfer-select-box-price div small {
                    font-weight: 600; }
            .left-column-inner-content .panel-inner .list-box-area .list-box-extra-products .airline-transfer-select-box-active {
              border: 1px solid #00a084;
              box-shadow: 0px 3px 0px 0px #00a084; }
            .left-column-inner-content .panel-inner .list-box-area .phone-info {
              position: relative;
              margin-top: -30px; }
              .left-column-inner-content .panel-inner .list-box-area .phone-info-text {
                width: 200px; }
              .left-column-inner-content .panel-inner .list-box-area .phone-info-label {
                height: 1rem; }
            .left-column-inner-content .panel-inner .list-box-area .discount-code-gezi-money {
              margin-bottom: 1.1rem; }
              .left-column-inner-content .panel-inner .list-box-area .discount-code-gezi-money .discount-input {
                padding: 21px; }
              .left-column-inner-content .panel-inner .list-box-area .discount-code-gezi-money .use-gezi-money {
                background-color: #fff;
                border-radius: 6px;
                border: 1px solid #e4e4e4;
                padding: 2px 20px; }
                .left-column-inner-content .panel-inner .list-box-area .discount-code-gezi-money .use-gezi-money-radio {
                  padding-top: 7px; }
                @media only screen and (min-width: 360px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2) {
                  .left-column-inner-content .panel-inner .list-box-area .discount-code-gezi-money .use-gezi-money {
                    margin-top: 1rem; } }
            .left-column-inner-content .panel-inner .list-box-area .payment-method {
              margin-top: 1.1rem; }
            .left-column-inner-content .panel-inner .list-box-area .card-type {
              margin-top: 1.2rem; }
              .left-column-inner-content .panel-inner .list-box-area .card-type .bank-box {
                margin-top: 27px; }
                @media only screen and (min-width: 360px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2) {
                  .left-column-inner-content .panel-inner .list-box-area .card-type .bank-box {
                    margin-top: 0px; } }
            .left-column-inner-content .panel-inner .list-box-area .card-infos {
              margin-top: 1rem; }
              .left-column-inner-content .panel-inner .list-box-area .card-infos .credit-card-img {
                position: relative;
                margin-top: 10px; }
                @media only screen and (min-width: 360px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2) {
                  .left-column-inner-content .panel-inner .list-box-area .card-infos .credit-card-img {
                    margin-top: 0px;
                    margin-bottom: 35px;
                    margin-left: 40px; } }
            .left-column-inner-content .panel-inner .list-box-area .card-infos-other {
              margin-top: 1rem; }
            .left-column-inner-content .panel-inner .list-box-area .secure-payment .credit-card-cvc {
              color: #32a1c0; }
            .left-column-inner-content .panel-inner .list-box-area .secure-payment .thered-secure-text {
              color: #32a1c0;
              display: block; }
            .left-column-inner-content .panel-inner .list-box-area .secure-payment .cvc-text {
              margin-top: 8px; }
              @media only screen and (min-width: 360px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2) {
                .left-column-inner-content .panel-inner .list-box-area .secure-payment .cvc-text {
                  margin-bottom: 1rem; } }
            @media only screen and (min-width: 360px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2) {
              .left-column-inner-content .panel-inner .list-box-area .amount-multi-credit {
                margin-top: 1rem; } }
            .left-column-inner-content .panel-inner .list-box-area .amount-multi-credit .multi-credit-text {
              margin-top: 2.4rem; }
              @media only screen and (min-width: 360px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2) {
                .left-column-inner-content .panel-inner .list-box-area .amount-multi-credit .multi-credit-text {
                  margin-top: 0px;
                  margin-bottom: 1rem; } }
          .left-column-inner-content .panel-inner .isSecondPersonBtn {
            margin-bottom: 1.7rem;
            cursor: pointer; }
            .left-column-inner-content .panel-inner .isSecondPersonBtn strong {
              display: block; }
            .left-column-inner-content .panel-inner .isSecondPersonBtn small {
              display: block;
              margin-bottom: 1rem; }
          .left-column-inner-content .panel-inner .isSecondPerson {
            display: none; }
          .left-column-inner-content .panel-inner .contact-information {
            margin-bottom: 1rem; }
            .left-column-inner-content .panel-inner .contact-information .row {
              margin-top: 1rem; }
            .left-column-inner-content .panel-inner .contact-information .phone-info {
              margin-top: -1rem; }
          .left-column-inner-content .panel-inner .installment-area {
            margin-top: 1rem;
            margin-bottom: 1rem; }
            .left-column-inner-content .panel-inner .installment-area-text {
              margin-bottom: 1rem; }
              .left-column-inner-content .panel-inner .installment-area-text a {
                color: #32a1c0; }
            .left-column-inner-content .panel-inner .installment-area-card {
              width: 100%;
              min-height: 80px;
              border: 1px solid #e4e4e4;
              border-radius: 6px 6px 0 0;
              background-color: #fff;
              padding: 10px;
              text-align: center;
              cursor: pointer; }
              .left-column-inner-content .panel-inner .installment-area-card .number-installments {
                font-weight: 600; }
              .left-column-inner-content .panel-inner .installment-area-card small {
                color: #4a4a4a; }
              .left-column-inner-content .panel-inner .installment-area-card .old-price {
                text-decoration: line-through;
                padding-top: 10px;
                padding-bottom: 5px; }
              .left-column-inner-content .panel-inner .installment-area-card .discount-price {
                font-weight: bold;
                padding: 10px 5px; }
            .left-column-inner-content .panel-inner .installment-area-card-bottom {
              padding: 10px;
              background-color: #e4e4e4;
              min-height: 50px;
              border-radius: 0 0 6px 6px;
              display: flex;
              justify-content: center;
              align-content: center; }
              @media only screen and (min-width: 360px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2) {
                .left-column-inner-content .panel-inner .installment-area-card-bottom {
                  margin-bottom: 1rem; } }
            .left-column-inner-content .panel-inner .installment-area .installment-selected .installment-area-card {
              border: 1px solid #00a084; }
            .left-column-inner-content .panel-inner .installment-area .installment-selected .installment-area-card-bottom {
              background-color: #00a084; }
          .left-column-inner-content .panel-inner .total-payment-summary {
            margin-top: 1rem;
            display: flex;
            justify-content: center; }
            @media only screen and (min-width: 360px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2) {
              .left-column-inner-content .panel-inner .total-payment-summary {
                display: none; } }
            .left-column-inner-content .panel-inner .total-payment-summary div:first-child {
              min-width: 150px;
              text-align: center;
              margin-right: 10px; }
              .left-column-inner-content .panel-inner .total-payment-summary div:first-child div:first-child {
                font-weight: 600;
                font-size: 1.1rem; }
              .left-column-inner-content .panel-inner .total-payment-summary div:first-child div:last-child {
                font-size: 1.3rem;
                margin-top: 10px;
                text-decoration: line-through; }
            .left-column-inner-content .panel-inner .total-payment-summary div:last-child {
              min-width: 130px;
              margin-left: 10px;
              text-align: center; }
              .left-column-inner-content .panel-inner .total-payment-summary div:last-child div:first-child {
                font-weight: 600;
                font-size: 1.2rem; }
              .left-column-inner-content .panel-inner .total-payment-summary div:last-child div:last-child {
                font-size: 1.5rem;
                margin-top: 5px;
                color: #00a084;
                font-weight: bold; }
          .left-column-inner-content .panel-inner .payment-complate-button {
            margin-top: 1.2rem; }
            @media only screen and (min-width: 360px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2) {
              .left-column-inner-content .panel-inner .payment-complate-button {
                display: none; } }
      .left-column-inner-content .invoice-information {
        margin-top: 30px; }
        .left-column-inner-content .invoice-information .otel-agreement-bottom {
          margin-bottom: 20px; }
          @media only screen and (min-width: 360px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2) {
            .left-column-inner-content .invoice-information .otel-agreement-bottom {
              margin-bottom: 80px; } }
      .left-column-inner-content #isInvoiceInfos {
        display: none; }
      .left-column-inner-content .aircraft-cancellation-insurance div {
        position: relative; }
        .left-column-inner-content .aircraft-cancellation-insurance div .insurance-logo {
          position: absolute;
          top: 10px;
          right: 0; }
          @media only screen and (min-width: 360px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2) {
            .left-column-inner-content .aircraft-cancellation-insurance div .insurance-logo {
              top: 170px;
              bottom: 0; } }
        .left-column-inner-content .aircraft-cancellation-insurance div .room-insurance-logo {
          position: absolute;
          top: 10px;
          right: 0; }
          @media only screen and (min-width: 360px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2) {
            .left-column-inner-content .aircraft-cancellation-insurance div .room-insurance-logo {
              top: 85px;
              bottom: 0; } }
        .left-column-inner-content .aircraft-cancellation-insurance div ul li {
          padding: 7px 0px;
          font-weight: 600;
          font-size: 1rem; }
          .left-column-inner-content .aircraft-cancellation-insurance div ul li div {
            margin-right: 10px; }
          .left-column-inner-content .aircraft-cancellation-insurance div ul li span {
            float: right;
            color: #0e927b;
            font-weight: 600; }
          .left-column-inner-content .aircraft-cancellation-insurance div ul li a {
            display: block;
            color: #0e927b;
            margin-left: 30px;
            margin-top: 5px;
            font-size: .9rem;
            font-weight: normal; }

#step2 {
  display: none; }

#step3 {
  display: none; }

.hide-left-column {
  opacity: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%); }

.departure-filter-hide {
  display: none; }

.arrival-filter-hide {
  display: none; }

.select-box-active-control {
  z-index: 1; }

.otel-additional-services-active, .departure-flight-list-active, .return-flight-list-active, .airline-transfer-select-box-active {
  border: 1px solid #00a084;
  box-shadow: 0px 3px 0px 0px #00a084; }

.right-column {
  width: 406px;
  background-color: #fff;
  float: right;
  transition: max-height 0.3s ease-out; }
  .right-column .room-photo {
    width: 406px; }
    @media only screen and (min-width: 360px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2) {
      .right-column .room-photo {
        width: 100vw; } }
  @media only screen and (min-width: 360px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2) {
    .right-column {
      float: none;
      z-index: -1;
      position: absolute;
      width: 100vw;
      opacity: 0;
      -webkit-transform: translateY(100%);
              transform: translateY(100%);
      transition: .5s; } }
  .right-column-inner {
    padding: 20px 10px;
    border: 1px solid #e4e4e4; }
    .right-column-inner .otel-name {
      font-weight: 600; }
    .right-column-inner .otel-location {
      margin-top: 10px;
      display: flex;
      justify-content: space-between; }
    .right-column-inner .calender-area {
      display: flex;
      justify-content: space-between;
      background-color: #f9f9f9;
      border-radius: 6px;
      border: 1px solid #e4e4e4;
      padding: 10px;
      margin-top: 20px; }
      .right-column-inner .calender-area div {
        min-width: 150px; }
        .right-column-inner .calender-area div div:first-child {
          font-size: 1rem;
          color: #2c9fbe;
          font-weight: 600; }
          .right-column-inner .calender-area div div:first-child i {
            margin-right: 5px;
            margin-top: -2px; }
        .right-column-inner .calender-area div div:last-child {
          font-size: .8rem;
          font-weight: 600;
          margin-top: 5px; }
    .right-column-inner .summary-information {
      margin-top: 1rem;
      margin-bottom: 1rem; }
      @media only screen and (min-width: 360px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2) {
        .right-column-inner .summary-information {
          margin-bottom: 40px; } }
      .right-column-inner .summary-information li {
        display: flex;
        justify-content: space-between;
        padding: 5px; }
        .right-column-inner .summary-information li .icon-info, .right-column-inner .summary-information li .icon-remove {
          float: right; }
        .right-column-inner .summary-information li .airline-company {
          display: block;
          font-size: .9rem;
          text-align: right; }
        .right-column-inner .summary-information li strong {
          color: #00a084; }
        .right-column-inner .summary-information li .price-title {
          font-size: 1.2rem;
          font-weight: bold; }
        .right-column-inner .summary-information li .total-price {
          font-size: 1.2rem;
          font-weight: 600;
          text-decoration: line-through; }
        .right-column-inner .summary-information li .discounted-price {
          font-size: 1.3rem; }
        .right-column-inner .summary-information li .text {
          display: block; }
        .right-column-inner .summary-information li a {
          color: #32a1c0; }
    .right-column-inner .discount-code-input {
      margin-top: 1rem;
      margin-bottom: 20px; }
    @media only screen and (min-width: 360px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2) {
      .right-column-inner .payment-info-next, .right-column-inner .person-info-next, .right-column-inner .payment-complate {
        display: none; } }

.show-right-column {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0); }

.main-search-area {
  margin-top: 90px;
  width: 1140;
  height: 170px; }
  .main-search-area .tab-menu {
    width: 500px;
    height: 60px;
    background-color: rgba(52, 73, 94, 0.8);
    border-radius: 6px 6px 0 0;
    display: flex;
    align-items: flex-end;
    justify-content: space-around; }
    .main-search-area .tab-menu-button-area {
      height: 50px;
      width: 468px;
      margin-top: 10px;
      margin-left: 18px;
      margin-right: 18px;
      display: flex;
      justify-content: space-between;
      align-content: flex-end;
      align-items: flex-end; }
      .main-search-area .tab-menu-button-area-btn {
        height: 50px;
        width: 150px;
        color: #fff;
        background-color: #34495e;
        border-radius: 6px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center; }
        .main-search-area .tab-menu-button-area-btn span {
          width: 50px;
          margin-left: 10px;
          margin-top: 5px;
          color: #b2b9bc; }
    .main-search-area .tab-menu .tab-active {
      background-color: #349fbd; }
      .main-search-area .tab-menu .tab-active span {
        color: #fff;
        font-weight: bold; }
  .main-search-area .tab-content {
    width: 100%;
    min-height: 110px;
    background-color: rgba(52, 73, 94, 0.8);
    border-radius: 0 6px 6px 6px;
    padding: 20px; }
    .main-search-area .tab-content .otel-content {
      border-radius: 6px;
      background-color: #fff;
      height: 70px; }
      .main-search-area .tab-content .otel-content .otel-search-input {
        position: relative;
        display: inline-flex;
        justify-content: flex-start;
        align-items: center;
        float: left;
        height: 70px;
        border-right: 1px solid #dbdcdd; }
        .main-search-area .tab-content .otel-content .otel-search-input i {
          margin-left: 20px;
          margin-right: 5px; }
        .main-search-area .tab-content .otel-content .otel-search-input input {
          padding: 10px;
          border: 0;
          width: 260px; }
          .main-search-area .tab-content .otel-content .otel-search-input input::-webkit-input-placeholder {
            color: #b2b9bc;
            opacity: 1; }
          .main-search-area .tab-content .otel-content .otel-search-input input:-ms-input-placeholder {
            color: #b2b9bc;
            opacity: 1; }
          .main-search-area .tab-content .otel-content .otel-search-input input::-ms-input-placeholder {
            color: #b2b9bc;
            opacity: 1; }
          .main-search-area .tab-content .otel-content .otel-search-input input::placeholder {
            color: #b2b9bc;
            opacity: 1; }
      .main-search-area .tab-content .otel-content .otel-entry-date-input, .main-search-area .tab-content .otel-content .otel-release-date-input {
        display: inline-flex;
        justify-content: flex-start;
        align-items: center;
        float: left;
        height: 70px;
        border-right: 1px solid #dbdcdd; }
        .main-search-area .tab-content .otel-content .otel-entry-date-input i, .main-search-area .tab-content .otel-content .otel-release-date-input i {
          margin-left: 10px; }
        .main-search-area .tab-content .otel-content .otel-entry-date-input .t-check-in, .main-search-area .tab-content .otel-content .otel-release-date-input .t-check-in {
          position: relative;
          margin-top: -3px;
          padding: 0px 10px;
          border: 0;
          width: 140px;
          font-size: 15px;
          color: #b2b9bc; }
        .main-search-area .tab-content .otel-content .otel-entry-date-input .t-check-out, .main-search-area .tab-content .otel-content .otel-release-date-input .t-check-out {
          position: relative;
          margin-top: -3px;
          padding: 0px 10px;
          border: 0;
          width: 140px;
          color: #b2b9bc;
          font-size: 15px; }
      .main-search-area .tab-content .otel-content .otel-room-person-select-input {
        display: inline-flex;
        justify-content: flex-start;
        align-items: center;
        float: left;
        position: relative;
        height: 70px; }
        .main-search-area .tab-content .otel-content .otel-room-person-select-input i {
          margin-left: 15px; }
        .main-search-area .tab-content .otel-content .otel-room-person-select-input input {
          padding: 10px;
          border: 0;
          width: 160px; }
          .main-search-area .tab-content .otel-content .otel-room-person-select-input input::-webkit-input-placeholder {
            color: #b2b9bc;
            opacity: 1; }
          .main-search-area .tab-content .otel-content .otel-room-person-select-input input:-ms-input-placeholder {
            color: #b2b9bc;
            opacity: 1; }
          .main-search-area .tab-content .otel-content .otel-room-person-select-input input::-ms-input-placeholder {
            color: #b2b9bc;
            opacity: 1; }
          .main-search-area .tab-content .otel-content .otel-room-person-select-input input::placeholder {
            color: #b2b9bc;
            opacity: 1; }
      .main-search-area .tab-content .otel-content .search-button {
        width: 140px;
        height: 70px;
        color: #1c1d1d;
        font-weight: 600;
        background-color: #f1c40f;
        border-radius: 0 6px 6px 0;
        cursor: pointer;
        float: right; }
      .main-search-area .tab-content .otel-content #twoRoom, .main-search-area .tab-content .otel-content #thereRoom {
        display: none; }
      .main-search-area .tab-content .otel-content .room-passive {
        color: #34495e; }
    .main-search-area .tab-content .tour-content {
      border-radius: 6px;
      background-color: #fff;
      height: 70px; }
      .main-search-area .tab-content .tour-content .tour-category-input {
        display: inline-flex;
        justify-content: flex-start;
        align-items: center;
        float: left;
        height: 70px;
        border-right: 1px solid #dbdcdd; }
        .main-search-area .tab-content .tour-content .tour-category-input i {
          margin-left: 20px;
          margin-right: 5px; }
        .main-search-area .tab-content .tour-content .tour-category-input input {
          padding: 10px;
          border: 0;
          width: 160px; }
          .main-search-area .tab-content .tour-content .tour-category-input input::-webkit-input-placeholder {
            color: #b2b9bc;
            opacity: 1; }
          .main-search-area .tab-content .tour-content .tour-category-input input:-ms-input-placeholder {
            color: #b2b9bc;
            opacity: 1; }
          .main-search-area .tab-content .tour-content .tour-category-input input::-ms-input-placeholder {
            color: #b2b9bc;
            opacity: 1; }
          .main-search-area .tab-content .tour-content .tour-category-input input::placeholder {
            color: #b2b9bc;
            opacity: 1; }
        .main-search-area .tab-content .tour-content .tour-category-input .fa {
          margin-left: 0;
          margin-right: 25px; }
      .main-search-area .tab-content .tour-content .tour-search-input {
        display: inline-flex;
        justify-content: flex-start;
        align-items: center;
        float: left;
        height: 70px;
        border-right: 1px solid #dbdcdd; }
        .main-search-area .tab-content .tour-content .tour-search-input i {
          margin-left: 20px;
          margin-right: 5px; }
        .main-search-area .tab-content .tour-content .tour-search-input input {
          padding: 10px;
          border: 0;
          width: 260px; }
          .main-search-area .tab-content .tour-content .tour-search-input input::-webkit-input-placeholder {
            color: #b2b9bc;
            opacity: 1; }
          .main-search-area .tab-content .tour-content .tour-search-input input:-ms-input-placeholder {
            color: #b2b9bc;
            opacity: 1; }
          .main-search-area .tab-content .tour-content .tour-search-input input::-ms-input-placeholder {
            color: #b2b9bc;
            opacity: 1; }
          .main-search-area .tab-content .tour-content .tour-search-input input::placeholder {
            color: #b2b9bc;
            opacity: 1; }
      .main-search-area .tab-content .tour-content .tour-period-input {
        display: inline-flex;
        justify-content: flex-start;
        align-items: center;
        float: left;
        height: 70px;
        border-right: 1px solid #dbdcdd; }
        .main-search-area .tab-content .tour-content .tour-period-input i {
          margin-left: 10px; }
        .main-search-area .tab-content .tour-content .tour-period-input input {
          padding: 10px;
          border: 0;
          width: 140px; }
          .main-search-area .tab-content .tour-content .tour-period-input input::-webkit-input-placeholder {
            color: #b2b9bc;
            opacity: 1; }
          .main-search-area .tab-content .tour-content .tour-period-input input:-ms-input-placeholder {
            color: #b2b9bc;
            opacity: 1; }
          .main-search-area .tab-content .tour-content .tour-period-input input::-ms-input-placeholder {
            color: #b2b9bc;
            opacity: 1; }
          .main-search-area .tab-content .tour-content .tour-period-input input::placeholder {
            color: #b2b9bc;
            opacity: 1; }
      .main-search-area .tab-content .tour-content .tour-location-input {
        display: inline-flex;
        justify-content: flex-start;
        align-items: center;
        float: left;
        height: 70px; }
        .main-search-area .tab-content .tour-content .tour-location-input i {
          margin-left: 15px; }
        .main-search-area .tab-content .tour-content .tour-location-input input {
          padding: 10px;
          border: 0;
          width: 140px; }
          .main-search-area .tab-content .tour-content .tour-location-input input::-webkit-input-placeholder {
            color: #b2b9bc;
            opacity: 1; }
          .main-search-area .tab-content .tour-content .tour-location-input input:-ms-input-placeholder {
            color: #b2b9bc;
            opacity: 1; }
          .main-search-area .tab-content .tour-content .tour-location-input input::-ms-input-placeholder {
            color: #b2b9bc;
            opacity: 1; }
          .main-search-area .tab-content .tour-content .tour-location-input input::placeholder {
            color: #b2b9bc;
            opacity: 1; }
      .main-search-area .tab-content .tour-content .search-button {
        width: 140px;
        height: 70px;
        color: #1c1d1d;
        font-weight: 600;
        background-color: #f1c40f;
        border-radius: 0 6px 6px 0;
        cursor: pointer;
        float: right; }
    .main-search-area .tab-content .plane-content div {
      border-radius: 6px;
      background-color: #fff;
      height: 70px; }
      .main-search-area .tab-content .plane-content div .plane-from-input {
        display: inline-flex;
        justify-content: flex-start;
        align-items: center;
        float: left;
        height: 70px; }
        .main-search-area .tab-content .plane-content div .plane-from-input i {
          margin-left: 20px;
          margin-right: 5px; }
        .main-search-area .tab-content .plane-content div .plane-from-input input {
          padding: 10px;
          border: 0;
          width: 130px; }
          .main-search-area .tab-content .plane-content div .plane-from-input input::-webkit-input-placeholder {
            color: #b2b9bc;
            opacity: 1; }
          .main-search-area .tab-content .plane-content div .plane-from-input input:-ms-input-placeholder {
            color: #b2b9bc;
            opacity: 1; }
          .main-search-area .tab-content .plane-content div .plane-from-input input::-ms-input-placeholder {
            color: #b2b9bc;
            opacity: 1; }
          .main-search-area .tab-content .plane-content div .plane-from-input input::placeholder {
            color: #b2b9bc;
            opacity: 1; }
        .main-search-area .tab-content .plane-content div .plane-from-input .fa {
          margin-left: 0;
          margin-right: 25px; }
      .main-search-area .tab-content .plane-content div .plane-change-input {
        display: inline-flex;
        justify-content: flex-start;
        align-items: center;
        float: left;
        height: 70px; }
      .main-search-area .tab-content .plane-content div .plane-to-input {
        display: inline-flex;
        justify-content: flex-start;
        align-items: center;
        float: left;
        height: 70px;
        border-right: 1px solid #dbdcdd; }
        .main-search-area .tab-content .plane-content div .plane-to-input i {
          margin-left: 20px;
          margin-right: 5px; }
        .main-search-area .tab-content .plane-content div .plane-to-input input {
          padding: 10px;
          border: 0;
          width: 130px; }
          .main-search-area .tab-content .plane-content div .plane-to-input input::-webkit-input-placeholder {
            color: #b2b9bc;
            opacity: 1; }
          .main-search-area .tab-content .plane-content div .plane-to-input input:-ms-input-placeholder {
            color: #b2b9bc;
            opacity: 1; }
          .main-search-area .tab-content .plane-content div .plane-to-input input::-ms-input-placeholder {
            color: #b2b9bc;
            opacity: 1; }
          .main-search-area .tab-content .plane-content div .plane-to-input input::placeholder {
            color: #b2b9bc;
            opacity: 1; }
        .main-search-area .tab-content .plane-content div .plane-to-input .fa {
          margin-left: 0;
          margin-right: 25px; }
      .main-search-area .tab-content .plane-content div .plane-going-input {
        display: inline-flex;
        justify-content: flex-start;
        align-items: center;
        float: left;
        height: 70px;
        border-right: 1px solid #dbdcdd; }
        .main-search-area .tab-content .plane-content div .plane-going-input i {
          margin-left: 20px;
          margin-right: 5px; }
        .main-search-area .tab-content .plane-content div .plane-going-input input {
          padding: 10px;
          border: 0;
          width: 115px; }
          .main-search-area .tab-content .plane-content div .plane-going-input input::-webkit-input-placeholder {
            color: #b2b9bc;
            opacity: 1; }
          .main-search-area .tab-content .plane-content div .plane-going-input input:-ms-input-placeholder {
            color: #b2b9bc;
            opacity: 1; }
          .main-search-area .tab-content .plane-content div .plane-going-input input::-ms-input-placeholder {
            color: #b2b9bc;
            opacity: 1; }
          .main-search-area .tab-content .plane-content div .plane-going-input input::placeholder {
            color: #b2b9bc;
            opacity: 1; }
      .main-search-area .tab-content .plane-content div .plane-coming-input {
        display: inline-flex;
        justify-content: flex-start;
        align-items: center;
        float: left;
        height: 70px;
        border-right: 1px solid #dbdcdd; }
        .main-search-area .tab-content .plane-content div .plane-coming-input i {
          margin-left: 10px; }
        .main-search-area .tab-content .plane-content div .plane-coming-input input {
          padding: 10px;
          border: 0;
          width: 115px; }
          .main-search-area .tab-content .plane-content div .plane-coming-input input::-webkit-input-placeholder {
            color: #b2b9bc;
            opacity: 1; }
          .main-search-area .tab-content .plane-content div .plane-coming-input input:-ms-input-placeholder {
            color: #b2b9bc;
            opacity: 1; }
          .main-search-area .tab-content .plane-content div .plane-coming-input input::-ms-input-placeholder {
            color: #b2b9bc;
            opacity: 1; }
          .main-search-area .tab-content .plane-content div .plane-coming-input input::placeholder {
            color: #b2b9bc;
            opacity: 1; }
      .main-search-area .tab-content .plane-content div .plane-person-input {
        display: inline-flex;
        justify-content: flex-start;
        align-items: center;
        float: left;
        height: 70px; }
        .main-search-area .tab-content .plane-content div .plane-person-input i {
          margin-left: 15px; }
        .main-search-area .tab-content .plane-content div .plane-person-input input {
          padding: 10px;
          border: 0;
          width: 100px; }
          .main-search-area .tab-content .plane-content div .plane-person-input input::-webkit-input-placeholder {
            color: #b2b9bc;
            opacity: 1; }
          .main-search-area .tab-content .plane-content div .plane-person-input input:-ms-input-placeholder {
            color: #b2b9bc;
            opacity: 1; }
          .main-search-area .tab-content .plane-content div .plane-person-input input::-ms-input-placeholder {
            color: #b2b9bc;
            opacity: 1; }
          .main-search-area .tab-content .plane-content div .plane-person-input input::placeholder {
            color: #b2b9bc;
            opacity: 1; }
      .main-search-area .tab-content .plane-content div .search-button {
        width: 140px;
        height: 70px;
        color: #1c1d1d;
        font-weight: 600;
        background-color: #f1c40f;
        border-radius: 0 6px 6px 0;
        cursor: pointer;
        float: right; }
    .main-search-area .tab-content .reservation-queries {
      margin-top: 20px; }
      .main-search-area .tab-content .reservation-queries a {
        text-decoration: none;
        color: #fff; }
        .main-search-area .tab-content .reservation-queries a i {
          margin-right: 5px; }
