@mixin mq($width: 'mobile') {
    @if($width == 'mobile') {
        @media only screen and (min-width: 360px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2) { 
            @content   
        }
    }
}