$gutter         : 20px;
$borderRadius   : 6px;
$fingerSize     : 44px;
$containerWidth : 1140px; 
$leftColumn     : 714px;
$leftColumnInner: 680px;
$rightColumn    : 405px;
$panelInner     : 650px;
//
$white              : #fff;
$black              : #232323;
$softBlack          : #4a4a4a;
$grey               : #f9f9f9;
$darkGrey           : #34495e;
$darkGreyBorder     : #e4e4e4;
$greyBorder         : #d2d2d2;
$stepGrey           : #dbdbdb;
$blue               : #339fbc;
$darkBlue           : #34495e;
$darkBlueShadow     : #2d8ca6;
$darkBlueCalender   : #57adc6;
$lightBlue          : #32a1c0; 
$fume               : #34495e;
$green              : #00be9c;
$darkGreen          : #00a084;
$lightGreen         : #34495e;
$softGreen          : #ebf6e8;
$red                : #ea2e37;
$stepLineGrey       : #cecfcf;

//
$fontFamily         : 'Open Sans', sans-serif;
$fontSize           : 16px;


//main-search-area 

$mainBackColor      : #34495e;
