.gznm-button {
    line-height: $fingerSize; 
    color: $white;
    padding: 5px 35px;
    border-radius: $borderRadius;
    text-align: center;
    vertical-align: middle;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}

.gznm-btn-sm {
    display: inline-block !important;
    padding: 5px !important;
}

.btn-green {
    background-color: $green;
    &:hover {
        box-shadow: 0px 3px 0px 0px $darkGreen;
    }
}

.btn-blue {
    background-color: $blue;
    &:hover {
        box-shadow: 0px 3px 0px 0px $darkBlueShadow;
    }
}

.btn-padding {
    padding: 10px;
}

.btn-small {
    font-size: .7rem;
    padding: 0px 15px;     
    width: 180px;  
    font-weight: 600;
    padding: 15px 10px;
}

.btn-block {
    font-size: 1rem;
    width: 100%;  
    font-weight: 600;
    padding: 5px 10px;
}

a.gznm-button {
    text-decoration: none;
    color: $white;
}