/* custom checkbox */

.customCheckbox input[type="checkbox"] {
    position: absolute;
    left: -9999px;
  }
  
  .customCheckbox input[type="checkbox"]+label {
    position: relative;
    padding: 3px 0 0 30px;
    cursor: pointer;
  }
  
  .customCheckbox input[type="checkbox"]+label:before {
    content: '';
    background: #fff;
    border: 2px solid #1cbe9d;
    border-radius: 3px;
    height: 20px;
    width: 20px;
    margin-top: 4px;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .customCheckbox input[type="checkbox"]+label:after {
    content: '';
    border-style: solid;
    border-width: 0 0 2px 2px;
    border-color: transparent transparent #1cbe9d #1cbe9d;
    width: 12px;
    height: 8px;
    position: absolute;
    top: 8px;
    left: 4px;
    opacity: 0;
    transform: scale(2) rotate(-45deg);
    transition: transform 0.3s linear, opacity 0.3s linear;
  }
  
  .customCheckbox input[type="checkbox"]:checked+label:after {
    opacity: 1;
    transform: scale(1) rotate(-45deg);
  }
  