.dropDownList {
    position: absolute;
    margin-top: 80px;
    min-width: 80px;
    min-height: 160px;
    background-color:#fff;
    left: 0;
    right: 0;
    border: 1px solid #d9dde1;
    top: -10px;
    min-width: 320px;
    border-radius: $borderRadius;
    box-shadow: 1px 3px 15px -1px rgba(104,104,104, 0.3);
    display: none;
    h6 {
      color: #088b74;
      font-weight: bold;  
      padding-top: 15px;
      padding-bottom: 15px;
    }
    ul {
        &::before { 
            content: url('../../img/icons/dropDownTop.png');
            font-style: normal;
            font-weight: normal;
            text-decoration: inherit;
            color: #fff;
            font-size: 24px;
            padding-right: 0.5em;
            position: absolute;
            right: auto;
            left: 20%;
            top: -25px !important;
            margin-left: -5px;
            position:absolute
        }
        li {
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 25px;
            cursor: pointer;
            background-color: #088b74;
            &:last-child {
                border-radius: 0 0 $borderRadius $borderRadius;
            }
            &:nth-child(odd) {
                background-color: #f0f1f3;
            }
            &:nth-child(even) {
                background-color: #f7f8f9;
                border-bottom: 1px solid $white;
                border-top: 1px solid $white;
            }
        }
    }
}

.dropdown-room {
    min-width: 640px;
    .newRoom {
        .room-person-select {
            padding: 20px 0px 0px 20px;
            display: flex;
            justify-content: flex-start;
            .form-group {
                label {
                    font-weight: 400;
                    font-size: .9rem;
                }
                select:focus{
                    outline: none;
                }
                select:active {
                    outline: none;
                }
            }
            .form-control {
                border: 1px solid $darkGreyBorder;
            }
            .room-text {
                padding-top: 35px;
                font-weight: 500;
                min-width: 70px;
                margin-right: 15px;
            }
            .room-person {
                min-width: 100px;
                margin-right: 15px;
            }
            .room-child {
                min-width: 70px;
                margin-right: 15px;
            }
        }
        .room-remove {
            color: $red;
            font-weight: 600;
            min-width: 110px;
            font-size: .8rem;
            float: right;
            cursor: pointer;
            i {
                margin-top: -4px;
            }
        }
    }
    .room-person-warn {
        color: #349fbd;
        font-size: .9rem;
        padding: 5px 0px 5px 0px;
        i {
            margin-right: 10px;
        }
    }
    .room-person-buttons {
        display: flex;
        justify-content: space-between;
        padding-bottom: 20px;
        padding-right: 15px;
        button {
            background-color: transparent;
            font-size: .9rem;
            font-weight: 600;
            cursor: pointer;
            i {
                margin-right: 5px;
            }
            &:first-child {
                color: #34495e;
                i {
                    margin-top: -4px;
                }
            }
            &:last-child {
                color: #0d7c69;
                i {
                    margin-top: -4px;
                }
            }
        }
        
        .addRoomWarn {
            color: $red;
        }
    }
}


.flightPersonSelectArea {
    position: relative;
    .dropDownFlightPersonSelect {
        position: absolute;
        margin-top: 80px;
        min-width: 30px;
        min-height: 160px;
        background-color:#fff;
        left: 0;
        right: 0;
        border: 1px solid #d9dde1;
        top: -5px;
        border-radius: $borderRadius;
        box-shadow: 1px 3px 15px -1px rgba(104,104,104, 0.2);
        display: none;   
        z-index: 999999999; 
        .adultSelect {
            display: flex;
            justify-content: space-around;
            align-items: center;
            padding-top: 15px;
            padding-right: 15px;
            padding-left: 15px;
            label {
                padding-top: 5px;
            }
            .minus, .plus {
                padding: 5px;
                cursor: pointer;
            }
            .form-control {
                max-width: 70px;
            }
        }
    }
}