body {
  background-color: $grey;
  font-family: $fontFamily;
  font-size: $fontSize;
  line-height: 1.4;
  color: $darkGrey;
  max-height: 500px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  padding-right: 0;
}

.bottom-summary {
  height: 100px;
  width: 100vw;
  background-color: $white;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 99999;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  display: none;
  -webkit-box-shadow: -1px -1px 21px 2px rgba(184,184,184,1);
  -moz-box-shadow: -1px -1px 21px 2px rgba(184,184,184,1);
  box-shadow: -1px -1px 21px 2px rgba(184,184,184,1); 
  @include mq {
    display: block;
  }

  &-upbutton {
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: #c3c3c3;
    top: -20px;
    right: calc(50% - 20px);
    left: calc(50% - 20px);
    border-radius: 50%;
    -webkit-box-shadow: -1px -1px 21px 2px rgba(184,184,184,1);
    -moz-box-shadow: -1px -1px 21px 2px rgba(184,184,184,1);
    box-shadow: -1px -1px 21px 2px rgba(184,184,184,1); 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: $white;
  }
  &-discounted-price {
    float: left;
    margin-top: 18px;
    div:first-child {
      font-size: 1rem;
      font-weight: 600;
      color: $softBlack;
    }
    div:last-child {
      font-weight: bold;
      font-size: 1.3rem;
      color: $darkGreen;
    }
  }
  &-button {
    margin-top: 20px;
    float: right;
    a {
      color: $white;
      text-decoration: none;
    }
    a:active {
      color: $white;
      text-decoration: none;
    }
  }
}

// rightColumn da ve leftColumn un ödeme sayfasında kullanıldığı için genel e aldım.
.bank-box {
  height: 40px;
  border-radius: $borderRadius;
  background-color: $softGreen;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  img { float: left; }
  .bank-discount-percent {
    float: left;
    background-color: $white;
    padding: 5px;
    border-radius: 40%;
    color: $red;
    font-weight: 600;
    margin-left: 5px;
    font-size: .9rem;
  }
  h5 {
      float: right;
      font-weight: bold;
  }
}
// ---

.line {
  border-bottom: 1px solid #ececec;
  width: 100%;
  bottom: 0;
}

.line-inst {
  border-bottom: 1px solid #ececec;
  width: 100%;
  bottom: 0;
  margin-bottom: 1rem;
}

.insurance-logo {
  position: absolute;
  right: 2px;
  top: 0px;
}

// Bu kullanılıyor
.btn-light-green {
  background-color: $lightGreen;
  border-radius: $borderRadius;
  color: $white;
}

.hidden {
  display: none !important;
}

// @keyframes rightMenuShow {
//   0% {
//     opacity: 0;
//     height: 0;
//   }
//   100% {
//     opacity: 1;
//     height: 1000px;
//   }
// }

// @keyframes rightMenuHide {
//   0% {
//     opacity: 1;
//     height: 1000px;
//   }
//   100% {
//     opacity: 0;
//     height: 0;
//   }
// }

