.icon-gift {
    width: 30px;
    height: 30px;
    float: left;
    background-image: url('../img/icons/gznm-icon-gift.png');
}
.icon-plus {
    width: 30px;
    height: 30px;
    float: left;
    background-image: url('../img/icons/gznm-icon-plus.png');
}

.icon-cancel {
    width: 34px;
    height: 26px;
    float: left;
    background-image: url('../img/icons/gznm-icon-cancel.png');
}
.icon-filter {
    width: 19px;
    height: 19px;
    float: right;
    position: relative;
    margin-top: 2px;
    background-image: url('../img/icons/gznm-icon-filter.png');
}
.icon-arrow-up {
    width: 19px;
    height: 19px;
    float: left;
    background-image: url('../img/icons/gznm-icon-arrow-up.png');
}
.icon-arrow-down {
    width: 19px;
    height: 19px;
    float: left;
    background-image: url('../img/icons/gznm-icon-arrow-down.png');
}
.icon-plane {
    width: 34px;
    height: 26px;
    float: left;
    background-image: url('../img/icons/gznm-icon-plane.png');
}
.icon-card-plane {
    width: 35px;
    height: 30px;
    background-image: url('../img/icons/gznm-icon-card-plane.png');
}
.icon-hand-plane {
    width: 39px;
    height: 40px;
    float: left;
    background-image: url('../img/icons/gznm-icon-hand-plane.png');
}
.icon-plane-going {
    width: 34px;
    height: 29px;
    float: left;
    position: relative;
    margin-top: -5px;
    background-image: url('../img/icons/gznm-icon-plane-going.png');
}
.icon-plane-return {
    width: 34px;
    height: 29px;
    float: left;
    background-image: url('../img/icons/gznm-icon-plane-return.png');
}

.icon-bell {
    width: 34px;
    height: 25px;
    float: left;
    background-image: url('../img/icons/gznm-icon-bell.png');
}

.icon-car {
    width: 32px;
    height: 25px;
    float: left;
    background-image: url('../img/icons/gznm-icon-car.png');
}

.icon-user {
    width: 31px;
    height: 31px;
    float: left;
    background-image: url('../img/icons/gznm-icon-user.png');
}

.icon-birthday {
    width: 31px;
    height: 31px;
    float: left;
    background-image: url('../img/icons/gznm-icon-birthday.png');
}

.icon-payment-info {
    width: 31px;
    height: 31px;
    float: left;
    background-image: url('../img/icons/gznm-icon-payment-info.png');
}

.icon-note-edit {
    width: 31px;
    height: 31px;
    float: left;
    background-image: url('../img/icons/gznm-icon-note-edit.png');
}

.icon-going {
    width: 102px;
    height: 12px;
    float: left;
    background-image: url('../img/icons/gznm-icon-going.png');    
}
.icon-ok {
    width: 20px;
    height: 17px;
    float: left;
    background-image: url('../img/icons/gznm-icon-ok.png');    
}

.icon-local {
    width: 18px;
    height: 21px;
    float: left;
    background-image: url('../img/icons/gznm-icon-local.png');    
}

.icon-lux {
    width: 18px;
    height: 21px;
    float: left;
    background-image: url('../img/icons/gznm-icon-lux.png');    
}

.icon-calender {
    width: 24px;
    height: 24px;
    float: left;
    background-image: url('../img/icons/gznm-icon-calender.png');    
}

.icon-info {
    width: 24px;
    height: 24px;
    float: left;
    background-image: url('../img/icons/gznm-icon-info.png');    
}

.icon-remove {
    width: 24px;
    height: 24px;
    float: left;
    background-image: url('../img/icons/gznm-icon-remove.png');    
}

.icon-circle-ok {
    position: relative;
    margin-top: -1px;
    width: 24px;
    height: 24px;
    float: left;
    background-image: url('../img/icons/gznm-icon-circle-ok.png');    
}

.icon-remove-red {
    position: relative;
    margin-top: -1px;
    width: 24px;
    height: 24px;
    float: left;
    background-image: url('../img/icons/gznm-icon-remove-red.png');    
}

// main search icons

.icon-main-search-bell {
    position: relative;
    float: left;
    width: 34px;
    height: 29px;
    background-image: url('../img/icons/gznm-main-search-bell-icon.png');    
}

.icon-main-search-bell-active {
    position: relative;
    float: left;
    width: 34px;
    height: 29px;
    background-image: url('../img/icons/gznm-main-search-bell-icon-active.png');    
}

.icon-main-search-map {
    position: relative;
    float: left;
    width: 34px;
    height: 29px;
    background-image: url('../img/icons/gznm-main-search-map-icon.png');    
}

.icon-main-search-map-active {
    position: relative;
    float: left;
    width: 34px;
    height: 29px;
    background-image: url('../img/icons/gznm-main-search-map-icon-active.png');    
}

.icon-main-search-plane {
    position: relative;
    float: left;
    width: 34px;
    height: 29px;
    background-image: url('../img/icons/gznm-main-search-plane-icon.png');    
}

.icon-main-search-plane-active {
    position: relative;
    float: left;
    width: 34px;
    height: 29px;
    background-image: url('../img/icons/gznm-main-search-plane-icon-active.png');    
}

.icon-main-search-bed {
    position: relative;
    float: left;
    width: 36px;
    height: 31px;
    background-image: url('../img/icons/gznm-main-search-bed-icon.png');    
}

.icon-main-search-search {
    position: relative;
    float: left;
    width: 34px;
    height: 31px;
    background-image: url('../img/icons/gznm-main-search-search-icon.png');    
}

.icon-main-search-photo {
    position: relative;
    float: left;
    width: 36px;
    height: 31px;
    margin-top: -2px;
    background-image: url('../img/icons/gznm-main-search-photo-icon.png');    
}

.icon-main-search-calendar {
    position: relative;
    float: left;
    width: 36px;
    height: 31px;
    background-image: url('../img/icons/gznm-main-search-calendar-icon.png');    
}

.icon-main-search-change {
    position: relative;
    float: left;
    width: 36px;
    height: 31px;
    background-image: url('../img/icons/gznm-main-search-change-icon.png');    
}

.icon-main-search-location {
    position: relative;
    float: left;
    width: 36px;
    height: 31px;
    background-image: url('../img/icons/gznm-main-search-location-icon.png');    
}

.icon-main-search-person {
    position: relative;
    float: left;
    width: 36px;
    height: 31px;
    background-image: url('../img/icons/gznm-main-search-person-icon.png');    
}

.icon-main-search-plane-card {
    position: relative;
    float: left;
    width: 36px;
    height: 19px;
    background-image: url('../img/icons/gznm-main-search-plane-card-icon.png');    
}

.icon-main-green-location {
    position: relative;
    float: left;
    width: 15px;
    height: 18px;
    background-image: url('../img/icons/gznm-icon-green-location.png');   
}

.icon-main-green-building {
    position: relative;
    float: left;
    width: 23px;
    height: 23px;
    margin-top: -3px;
    background-image: url('../img/icons/gznm-icon-green-building.png');   
}

.icon-main-search-info {
    position: relative;
    float: left;
    width: 23px;
    height: 23px;
    margin-top: -3px;
    background-image: url('../img/icons/gznm-main-search-info-icon.png');   
}

.icon-main-search-plus {
    position: relative;
    float: left;
    width: 23px;
    height: 23px;
    margin-top: -3px;
    background-image: url('../img/icons/gznm-main-search-plus-icon.png');   
}

.icon-main-search-apply {
    position: relative;
    float: left;
    width: 23px;
    height: 23px;
    margin-top: -3px;
    background-image: url('../img/icons/gznm-main-search-apply-icon.png');   
}