.option-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    height: 25px;
    width: 25px;
    transition: all 0.15s ease-out 0s;
    background: #fff;
    border: 1px solid $darkGreen;
    color: $darkGreen;
    cursor: pointer;
    display: inline-block;
    outline: none;
    position: relative;
    z-index: 1000;
  }
.option-input:hover {
  background: #fff;
}
.option-input:checked {
  border: 2px solid $darkGreen;
}
.option-input:checked::before {
  height: 20px;
  width: 20px;
  position: absolute;
  content: '\f00c';
  font-family: 'FontAwesome';
  display: inline-block;
  font-size: 14px;
  text-align: center;
  line-height: 23px;
}
.option-input:checked::after {
  -webkit-animation: click-wave 0.65s;
  -moz-animation: click-wave 0.65s;
  animation: click-wave 0.65s;
  background: $darkGreen;
  content: '';
  display: block;
  position: relative;
  z-index: 100;
}
.option-input.radio {
  border-radius: 50%;
}
.option-input.radio::after {
  border-radius: 50%;
}


  /* custom radio */

.customRadio input[type="radio"] {
  position: absolute;
  left: -9999px;
}

.customRadio input[type="radio"]+label {
  position: relative;
  padding: 3px 0 0 30px;
  cursor: pointer;
}

.customRadio input[type="radio"]+label:before {
  content: '';
  background: #fff;
  border: 2px solid #1cbe9d;
  height: 20px;
  width: 20px;
  margin-top: 3px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
}

.customRadio input[type="radio"]+label:after {
  content: '';
  background: #1cbe9d;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  top: 8px;
  left: 5px;
  opacity: 0;
  transform: scale(2);
  transition: transform 0.3s linear, opacity 0.3s linear;
}

.customRadio input[type="radio"]:checked+label:after {
  opacity: 1;
  transform: scale(1);
}