/*the container must be positioned relative:*/
.gznm-select {
    padding: 7px 15px;
    border: 1px solid $greyBorder;
    border-radius: $borderRadius;
    font-weight: bold;
    outline: none;
  }

  .select-box:after {
    content:'\25BC';
    display:inline-block;
    box-sizing:border-box;
    color: $black;
    background-color:#fff;
    margin-left:-22px;   /* remove the damn :after space */
    pointer-events:none; /* let the click pass trough */
}