.left-column {
    min-width: 714px;
    @include mq {
        min-width: 100vw;
        margin-left: auto;
        margin-right: auto;
        opacity: 1;
        transition: .5s;
        transform: translateY(0);
    }
    height: auto;
    background-color: $white;
    display: flex;
    justify-content: center;
    border: 1px solid $darkGreyBorder;
    margin-bottom: 50px;
    float: left;
    &-inner {
        width: $leftColumnInner;
        @include mq {
            width: calc(100vw - 20px);
        }
        &-membership {
            height: 130px;
            .top {
                &-middle-area{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-top: 30px;
                    &-avatar {
                        width: 77px;
                        height: 77px;
                        cursor: pointer;
                        background-image: url('../../img/avatar.png');
                    }
                    &-text {
                        margin-left: $gutter;
                        font-size: 1.4rem;
                        @include mq {
                            font-size: 14px;
                        }
                    }
                }
            }
            .bottom{
                position: relative;
                display: flex;
                justify-content: center;
                margin-top: 40px;
                @include mq {
                    margin-top: 40px;
                }
                .button-area{
                    display: flex;
                    justify-content: center;
                    position: absolute;
                    top: -25px;
                    .signin-btn {
                        margin-right: 5px;
                    }
                    .signup-btn {
                        margin-left: 5px;
                    }
                }
            }
        }

        &-content {
            margin-top: 60px;
            @include mq {
                margin-left: auto;
                margin-right: auto;
            }
           .title {
               height: 20px;
               margin-bottom: 30px;
               width: 100%;
               display: flex;
               justify-content: flex-start;
               align-items: flex-start;
               color: $darkGrey;
               .text {
                   margin-left: 10px;
                   font-weight: 600;
                   font-size: 1.4rem;
               }
           } 
           .panel {
                width: 100%;
                margin-top: $gutter;
                border: 1px solid $darkGreyBorder;
                border-radius: $borderRadius;
                background-color: $grey;
                margin-bottom: 50px;
                padding: 0px 20px;
                @include mq {
                    padding: 0px 10px;
                }
                &-inner {
                    position: relative;
                    margin-top: 30px;
                    margin-bottom: 30px;
                    margin-left: auto;
                    margin-right: auto;
                    display: block;
                    .title-text {
                        font-size: 1rem;
                        font-weight: 600;
                        margin-bottom: 20px;
                        align-self: center;
                    }
                    
                    .list-box-area {
                        margin-top: 15px;
                        .list-box {
                            color: $softBlack;
                            border-radius: $borderRadius;
                            margin-bottom: 10px;
                            font-size: 0.8rem;
                            align-items: center;
                            overflow: hidden;
                            cursor: pointer;
                            color: #34495e;
                        }

                        .otel-additional-services {
                            position: relative;
                            padding: 20px;
                            background-color: $white;
                            min-height: 80px;
                            line-height: 40px;
                            vertical-align: middle;
                            border-radius: $borderRadius;
                            margin-bottom: 1rem;
                            cursor: pointer;
                            @include mq{
                                min-height: 110px;
                                line-height: 0;
                            }
                            &-text {
                                font-size: 1rem;
                                float: left;
                                @include mq {
                                    position: absolute;
                                    top: 25px;
                                    left: 20px;
                                }
                            }
                            &-person {
                                float: left;
                                margin-left: 20px;
                                @include mq {
                                    position: absolute;
                                    left: 0;
                                    bottom: 15px;
                                }
                            }
                            &-price {
                                font-size: 20px;
                                font-weight: 600;
                                float: right;
                                margin-right: 20px;
                                small {
                                    font-weight: bold;
                                }
                                @include mq {
                                    position: absolute;
                                    font-size: 1.1rem;
                                    right: 0;
                                    bottom: 30px;
                                }
                            }
                            &-check {
                                float: right;
                                margin-top: 7px;
                                @include mq {
                                    position: absolute;
                                    top: 5px;
                                    right: 20px;  
                                }                              
                            }
                        }

                        .otel-additional-services-active {
                            border: 1px solid $darkGreen;
                            box-shadow: 0px 3px 0px 0px $darkGreen; 
                        }

                        .list-box-extra-products {
                            .transportation {
                                display: flex;
                                justify-content: space-between;
                                @include mq {
                                    flex-flow: column;
                                }
                            }

                            .airplane-direction {
                                display: flex;
                                justify-content: flex-start;
                                margin-top: 25px;
                                div {
                                    margin-right: 15px;
                                }
                            }

                            .airplane-form {
                                margin-top: 20px !important;
                                @include mq {
                                   
                                }
                            }
                            
                            .departure-flights {
                                &-cancel {
                                    display: flex;
                                    justify-content: flex-end;
                                    align-items: center;
                                    margin-bottom: 5px;
                                    div {
                                        width: 200px;
                                        height: 30px;
                                        display: flex;
                                        justify-content: flex-end;
                                        align-items: center;
                                        cursor: pointer;
                                        span:nth-child(2) {
                                            padding-top: 2px;
                                            font-weight: bold;
                                        }
                                    }
                                }
                                &-box {
                                    background-color: $white;
                                    border: 1px solid $darkGreyBorder;
                                    border-radius: $borderRadius;
                                    &-title {
                                        display: flex;
                                        justify-content: space-between;
                                        padding: 20px;
                                        @include mq {
                                            padding-bottom: 0px;
                                        }
                                        .departure-text {
                                            font-weight: bold;
                                            margin-right: 10px;
                                            width: 300px;
                                            @include mq {
                                                span:nth-child(1){
                                                    position: relative;
                                                    top: -10px;
                                                }
                                            }
                                            .departure-text-date {
                                                font-weight: normal;
                                                color: #32a1c0;
                                                float: right;
                                                @include mq {
                                                    font-size: .9rem;
                                                    float: left;
                                                }
                                            }
                                            span {
                                                margin-left: 5px;
                                                @include mq {
                                                    position: relative;
                                                    top: -9px;
                                                }                                                
                                            }
                                        }
                                        .departure-date {
                                            color: #32a1c0;
                                            font-size: 1rem;
                                            text-align: left;
                                            @include mq {
                                                position: relative;
                                                float: left;
                                                span {
                                                    font-size: 1rem;
                                                    display: none;
                                                }
                                            }                                            
                                        }
                                        .departure-filter {
                                            min-width: 120px;
                                            cursor: pointer;
                                            span {
                                                margin-right: 5px;
                                                font-size: 1rem;
                                            }
                                        }
                                    }
                                    &-filter-area {
                                        background-color: #f5fafc;
                                        padding: 15px 20px;
                                        .filter-area-close {
                                            float: right;
                                        }
                                        &-preferences {
                                            display: flex;
                                            justify-content: space-between;
                                            @include mq {
                                                display: block;
                                            }
                                            .filter-title {
                                                font-weight: bold;
                                                font-size: 1rem;
                                            }
                                            ul {
                                                margin-top: 5px;
                                                li {
                                                    padding-top: 5px;
                                                    padding-bottom: 5px;
                                                }
                                            } 
                                        }
                                        &-buttons {
                                            display: flex;
                                            justify-content: flex-start;
                                            align-items: center;
                                            margin-top: 15px;
                                            div:nth-child(1) {
                                                margin-right: 10px;
                                                cursor: pointer;
                                                b {
                                                    color: $darkGreen;
                                                    font-size: 0.8rem;
                                                    margin-left: 3px;
                                                    padding-top: 15px;
                                                }
                                            }
                                            div:nth-child(2) {
                                                cursor: pointer;
                                                margin-left: 30px;
                                                b {
                                                    color: $red;
                                                    font-size: 0.8rem;
                                                    margin-left: 3px;
                                                    padding-top: 5px;
                                                }
                                            }
                                        }
                                    }
                                    &-bottom {
                                        height: 40px;
                                        display: flex;
                                        justify-content: space-between;
                                        align-items: center;
                                        background-color: #e6f3f7;
                                        border-top: 1px solid #cbe6ee;
                                        div {
                                            width: 33%;
                                            padding-left: 20px;
                                            cursor: pointer;
                                            font-size: .9rem;
                                            i {
                                                float: right;
                                                margin-right: 20px;
                                                margin-top: 3px;
                                            }
                                        }
                                        div:nth-child(1) {
                                            border-right: 1px solid #cbe6ee;
                                        }
                                        div:nth-child(3) {
                                            border-left: 1px solid #cbe6ee;
                                        }
                                    }
                                }
                            }

                            .return-flights {
                                margin-top: 30px;
                            }

                            .flight-list {
                                margin-top: 30px;
                                .flight-box {
                                    background-color: $white;
                                    display: flex;
                                    justify-content: space-between;
                                    border-radius: $borderRadius;
                                    padding: 20px;
                                    align-items: center;
                                    margin-bottom: 1rem;
                                    position: relative;
                                    cursor: pointer;
                                    pointer-events: inherit;
                                    @include mq {
                                        min-height: 120px;
                                        padding: 10px;
                                    }
                                    .airline-company {
                                        display: flex;
                                        justify-content: flex-start;
                                        align-items: center;
                                        @include mq {
                                            position: absolute;
                                            left: 10px;
                                            top: 10px;
                                        }
                                        &-logo {
                                            margin-right: 8px;
                                        }
                                        &-text {
                                            font-size: .9rem;
                                            div {
                                                small {
                                                    font-size: .8rem;
                                                    font-weight: bold;
                                                }
                                            }
                                        }
                                    }
                                    .flight-times {
                                        width: 200px;
                                        display: flex;
                                        justify-content: space-between;
                                        align-items: center;
                                        font-size: .9rem;
                                        @include mq {
                                            position: absolute;
                                            bottom: 10px;
                                            left: 10px;
                                            // left: calc(50% - 100px);
                                            // right: calc(50% - 100px);
                                        }
                                        div:nth-child(1) {
                                            div:nth-child(1) {
                                                font-weight: bold;
                                            }
                                        }
                                        div:nth-child(3) {
                                            div:nth-child(1) {
                                                font-weight: bold;
                                            }
                                        }
                                        .transfer-time {
                                            display: inline-block;
                                            text-align: center;
                                            div:nth-child(1) {
                                                color: #339fbc;
                                                font-size: .8rem;
                                            }
                                            div:nth-child(3) {
                                                font-size: .8rem;
                                            }
                                        }
                                        div:nth-child(3) {
                                            span {
                                                display: block;
                                            }
                                        }
                                    }
                                    .flight-select {
                                        min-width: 10px;
                                        display: flex;
                                        justify-content: flex-end;
                                        align-items: center;
                                        @include mq {
                                            position: absolute;
                                            top: 15px;
                                            right: 10px;
                                        }
                                        &-price {
                                            font-size: 1.1rem;
                                            margin-right: 15px;
                                            div:nth-child(1) {
                                                font-weight: bold;
                                                small {
                                                    font-weight: bold;
                                                }
                                            }
                                            div:nth-child(2) {
                                                font-size: .7rem;
                                                color: #979797;
                                                @include mq {
                                                    display: none;
                                                }
                                            }
                                        }
                                    }
                                    .flight-ticket-detail {
                                        display: none;
                                        @include mq {
                                            display: block;
                                            position: absolute;
                                            right: 20px;
                                            bottom: 15px;
                                            width: 50px;
                                            font-size: .8rem;
                                            color: #979797;
                                            text-align: center;
                                        }
                                    }
                                }
                                .filter-box-active {
                                    border: 1px solid $darkGreen;
                                    box-shadow: 0px 3px 0px 0px $darkGreen; 
                                }
                                .show-all-flights {
                                    font-size: .8rem;
                                    display: flex;
                                    justify-content: flex-end;
                                    margin-bottom: 20px;
                                    span {
                                        color: #0e927b;
                                        cursor: pointer;
                                    }
                                }
                            }

                            .airline-transfer-select {
                                &-title {
                                    display: flex;
                                    justify-content: flex-start; 
                                    padding: 20px 0px;
                                    font-weight: 600;
                                    font-size: 1rem;
                                    .icon-car {
                                        margin-right: 10px;
                                    }
                                } 
                                &-direction {
                                    display: flex;
                                    justify-content: flex-start;
                                    margin-bottom: 20px;
                                    div {
                                        margin-right: 20px;
                                    }
                                    @include mq {
                                        flex-flow: column;
                                    }
                                }
                                &-box {
                                    position: relative;
                                    min-height: 80px;
                                    display: flex;
                                    justify-content: space-between;
                                    align-items: center;
                                    padding-left: 20px;
                                    padding-right: 20px;
                                    background-color: $white;
                                    border-radius: $borderRadius;
                                    cursor: pointer;
                                    @include mq {
                                        padding: 10px;
                                        min-height: 60px;
                                    }
                                    &-text {
                                        div:nth-child(2) {
                                            font-size: .9rem;
                                            font-weight: 600;
                                        }
                                    }
                                    &-price {
                                        min-width: 120px;
                                        display: flex;
                                        justify-content: space-between;
                                        @include mq {
                                            justify-content: flex-end;
                                        }
                                        div {
                                            font-weight: 600;
                                            font-size: 1.3rem;
                                            @include mq {
                                                font-size: 1.1rem;
                                                margin-right: 5px;
                                            }
                                            small {
                                                font-weight: 600;
                                            }
                                        }
                                    }
                                }
                                &-box-active {
                                    border: 1px solid $darkGreen;
                                    box-shadow: 0px 3px 0px 0px $darkGreen; 
                                }
                            }
                            
                        }

                        //2. sayfa css leri
                        .phone-info {
                            position: relative;
                            margin-top: -30px;
                            &-text {
                                width: 200px;
                            }
                            &-label {
                                height: 1rem;
                            }
                        }

                        // 3. sayfa css leri
                        .discount-code-gezi-money {
                            margin-bottom: 1.1rem;
                            .discount-input {
                                padding: 21px;
                            }
                            .use-gezi-money {
                                background-color: $white;
                                border-radius: $borderRadius;
                                border: 1px solid $darkGreyBorder;
                                padding: 2px 20px;
                                &-radio {
                                    padding-top: 7px;
                                }
                                @include mq {
                                    margin-top: 1rem;
                                }
                            }

                        }

                        .payment-method {
                            margin-top: 1.1rem;
                        }
                        
                        .card-type {
                            margin-top: 1.2rem;
                            .bank-box {
                                margin-top: 27px;
                                @include mq {
                                    margin-top: 0px;
                                }
                            }
                        }
                        
                        .card-infos {
                            margin-top: 1rem;
                            .credit-card-img {
                                position: relative;
                                margin-top: 10px;
                                @include mq {
                                    margin-top: 0px;
                                    margin-bottom: 35px;
                                    margin-left: 40px;
                                }
                            }
                        }

                        .card-infos-other {
                            margin-top: 1rem;
                        }

                        .secure-payment {
                            .credit-card-cvc {
                                color: $lightBlue;
                            }

                            .thered-secure-text {
                                color: $lightBlue;
                                display: block;
                            }
                            .cvc-text {
                                margin-top: 8px;
                                @include mq {
                                    margin-bottom: 1rem;
                                }
                            }
                        }

                        .amount-multi-credit {
                            @include mq {
                                margin-top: 1rem;
                            }
                            .multi-credit-text {
                                margin-top: 2.4rem;
                                @include mq {
                                    margin-top: 0px;
                                    margin-bottom: 1rem;
                                }
                            }
                        }

                    }
                    // 2. sayfa cssleri
                    .isSecondPersonBtn {
                        margin-bottom: 1.7rem;
                        cursor: pointer;
                        strong {
                            display: block;
                        }
                        small {
                            display: block;
                            margin-bottom: 1rem;
                        }
                    }
                    
                    .isSecondPerson {
                        display: none;
                    }

                    // Sayfa 2 css leri
                    .contact-information {
                        margin-bottom: 1rem;
                        .row {
                            margin-top: 1rem;
                        }
                        .phone-info {
                            margin-top: -1rem;
                        }
                    }

                    //3. sayfa css leri
                    .installment-area {
                        margin-top: 1rem;
                        margin-bottom: 1rem;
                        &-text {
                            margin-bottom: 1rem;
                            a {
                                color: $lightBlue;
                            }
                        }
                        &-card {
                           width: 100%;
                           min-height: 80px; 
                           border: 1px solid $darkGreyBorder;
                           border-radius: $borderRadius $borderRadius 0 0;
                           background-color:  $white;
                           padding: 10px;
                           text-align: center;
                           cursor: pointer;
                           .number-installments {
                               font-weight: 600;
                           }
                           small {
                               color: $softBlack;
                           }
                           .old-price {
                            text-decoration: line-through;
                            padding-top: 10px;
                            padding-bottom: 5px;
                           }
                           .discount-price {
                               font-weight: bold;
                               padding: 10px 5px;
                           }
                        }
                        &-card-bottom {
                            padding: 10px;
                            background-color: $darkGreyBorder;
                            min-height: 50px;
                            border-radius: 0 0 $borderRadius $borderRadius;
                            display: flex;
                            justify-content: center;
                            align-content: center;
                            @include mq {
                                margin-bottom: 1rem;
                            }
                        }
                        
                        .installment-selected {
                            .installment-area-card {
                                border: 1px solid $darkGreen;
                            }
                            .installment-area-card-bottom {
                                background-color: $darkGreen;
                            }
                        }
                    }

                    .total-payment-summary {
                        margin-top: 1rem;
                        display: flex;
                        justify-content: center;
                        @include mq {
                            display: none;
                        }
                        div:first-child {
                            min-width: 150px;
                            text-align: center;
                            margin-right: 10px;
                            div:first-child {
                                font-weight: 600;
                                font-size: 1.1rem;
                            }
                            div:last-child {
                                font-size: 1.3rem;
                                margin-top: 10px;
                                text-decoration: line-through;
                            }
                        }
                        div:last-child {
                            min-width: 130px;
                            margin-left:10px;
                            text-align: center;
                            div:first-child {
                                font-weight: 600;
                                font-size: 1.2rem;
                            }
                            div:last-child {
                                font-size: 1.5rem;
                                margin-top: 5px;
                                color: $darkGreen;
                                font-weight: bold;
                            }
                        }
                    }

                    .payment-complate-button {
                        margin-top: 1.2rem;
                        @include mq {
                            display: none;
                        }
                    }
                }

            }
            // sayfa 2 css leri
            .invoice-information {
                margin-top: 30px;
                .otel-agreement-bottom {
                    margin-bottom: 20px;
                    @include mq {
                        margin-bottom: 80px;
                    }
                }
            }

            #isInvoiceInfos {
                display: none;
            }

           .aircraft-cancellation-insurance {
               div {
                    position: relative;
                    .insurance-logo {
                        position: absolute;
                        top: 10px;
                        right: 0;
                        @include mq {
                            top: 170px;
                            bottom: 0;
                        }
                    }

                    .room-insurance-logo {
                        position: absolute;
                        top: 10px;
                        right: 0;
                        @include mq {
                            top: 85px;
                            bottom: 0;
                        }                       
                    }

                    ul {
                        li {
                            padding: 7px 0px;
                            font-weight: 600;
                            font-size: 1rem;
                            div {
                                margin-right: 10px;
                            }
                            span {
                                float: right;
                                color: #0e927b;
                                font-weight: 600;
                            }
                            a {
                                display: block;
                                color: #0e927b;
                                margin-left: 30px;
                                margin-top: 5px;
                                font-size: .9rem;
                                font-weight: normal;
                            }
                        }
                    }
                }
            } 

        }

    }
}

#step2 {
    display: none;
}

#step3 {
    display: none;
}

.hide-left-column {
    opacity: 0;
    transform: translateY(100%);
}

.departure-filter-hide {
    display: none;
}

.arrival-filter-hide {
    display: none;
}

.select-box-active-control {
    z-index: 1;
}

.otel-additional-services-active, .departure-flight-list-active, .return-flight-list-active, .airline-transfer-select-box-active {
    border: 1px solid $darkGreen;
    box-shadow: 0px 3px 0px 0px $darkGreen; 
}