.main-search-area {
    margin-top: 90px;
    width: 1140;
    height: 170px;
    .tab-menu {
        width: 500px;
        height: 60px;
        background-color: rgba(52,73,94, 0.8);
        border-radius: $borderRadius $borderRadius 0 0;
        display: flex;
        align-items: flex-end;
        justify-content: space-around;
        &-button-area {
            height: 50px;
            width: 468px;
            margin-top: 10px;
            margin-left: 18px;
            margin-right: 18px;
            display: flex;
            justify-content: space-between;
            align-content: flex-end;
            align-items: flex-end;
            &-btn {
               height: 50px; 
               width: 150px;
               color: $white;
               background-color: #34495e;
               border-radius: $borderRadius;
               cursor: pointer;
               display: flex;
               justify-content: center;
               align-content: center;
               align-items: center;
               span {
                   width: 50px;
                   margin-left: 10px;
                   margin-top: 5px;
                   color: #b2b9bc;
               }
            }
        }
        .tab-active {
            background-color: #349fbd;
            span {
                color: $white;
                font-weight: bold;
            }
        }
    }
    .tab-content {
        width: 100%;
        min-height: 110px;
        background-color: rgba(52,73,94, 0.8);
        border-radius: 0 $borderRadius $borderRadius $borderRadius;
        padding: 20px;
        .otel-content {
            border-radius: $borderRadius;
            background-color: $white;
            height: 70px;
            .otel-search-input {
                position: relative;
                display: inline-flex;
                justify-content: flex-start;
                align-items: center;
                float: left;
                height: 70px;
                border-right: 1px solid #dbdcdd;
                i {
                    margin-left: 20px;
                    margin-right: 5px;
                }
                input {
                    padding: 10px;
                    border: 0;
                    width: 260px;
                    &::placeholder { 
                        color: #b2b9bc;
                        opacity: 1;
                    }
                }
            }
            .otel-entry-date-input, .otel-release-date-input {
                display: inline-flex;
                justify-content: flex-start;
                align-items: center;
                float: left;
                height: 70px;
                border-right: 1px solid #dbdcdd;
                i {
                    margin-left: 10px;
                }
                .t-check-in {
                    position: relative;
                    margin-top: -3px;
                    padding: 0px 10px;
                    border: 0;
                    width: 140px;
                    font-size: 15px;
                    color: #b2b9bc;
                }
                .t-check-out {
                    position: relative;
                    margin-top: -3px;
                    padding: 0px 10px;
                    border: 0;
                    width: 140px;
                    color: #b2b9bc;
                    font-size: 15px;
                }
            }

            .otel-room-person-select-input {
                display: inline-flex;
                justify-content: flex-start;
                align-items: center;
                float: left;
                position: relative;
                height: 70px;
                i {
                    margin-left: 15px;
                }
                input {
                    padding: 10px;
                    border: 0;
                    width: 160px;
                    &::placeholder { 
                        color: #b2b9bc;
                        opacity: 1;
                    }
                }
            }
            .search-button {
                width: 140px;
                height: 70px;
                color: #1c1d1d;
                font-weight: 600;
                background-color: #f1c40f;
                border-radius: 0 $borderRadius $borderRadius 0;
                cursor: pointer;
                float: right;
            }

            #twoRoom, #thereRoom {
                display: none;
            }

            .room-passive {
                color: $darkGrey;
            }
        }

        .tour-content {
            border-radius: $borderRadius;
            background-color: $white;
            height: 70px;
            .tour-category-input {
                display: inline-flex;
                justify-content: flex-start;
                align-items: center;
                float: left;
                height: 70px;
                border-right: 1px solid #dbdcdd;
                i {
                    margin-left: 20px;
                    margin-right: 5px;
                }
                input {
                    padding: 10px;
                    border: 0;
                    width: 160px;
                    &::placeholder { 
                        color: #b2b9bc;
                        opacity: 1;
                    }
                }
                .fa {
                    margin-left: 0;
                    margin-right: 25px;
                }
            }
            .tour-search-input {
                display: inline-flex;
                justify-content: flex-start;
                align-items: center;
                float: left;
                height: 70px;
                border-right: 1px solid #dbdcdd;
                i {
                    margin-left: 20px;
                    margin-right: 5px;
                }
                input {
                    padding: 10px;
                    border: 0;
                    width: 260px;
                    &::placeholder { 
                        color: #b2b9bc;
                        opacity: 1;
                    }
                }
            }
            .tour-period-input {
                display: inline-flex;
                justify-content: flex-start;
                align-items: center;
                float: left;
                height: 70px;
                border-right: 1px solid #dbdcdd;
                i {
                    margin-left: 10px;
                }
                input {
                    padding: 10px;
                    border: 0;
                    width: 140px;
                    &::placeholder { 
                        color: #b2b9bc;
                        opacity: 1;
                    }
                }
            }

            .tour-location-input {
                display: inline-flex;
                justify-content: flex-start;
                align-items: center;
                float: left;
                height: 70px;
                i {
                    margin-left: 15px;
                }
                input {
                    padding: 10px;
                    border: 0;
                    width: 140px;
                    &::placeholder { 
                        color: #b2b9bc;
                        opacity: 1;
                    }
                }
            }
            .search-button {
                width: 140px;
                height: 70px;
                color: #1c1d1d;
                font-weight: 600;
                background-color: #f1c40f;
                border-radius: 0 $borderRadius $borderRadius 0;
                cursor: pointer;
                float: right;
            }
        }

        .plane-content div {
            border-radius: $borderRadius;
            background-color: $white;
            height: 70px;
            .plane-from-input {
                display: inline-flex;
                justify-content: flex-start;
                align-items: center;
                float: left;
                height: 70px;
                i {
                    margin-left: 20px;
                    margin-right: 5px;
                }
                input {
                    padding: 10px;
                    border: 0;
                    width: 130px;
                    &::placeholder { 
                        color: #b2b9bc;
                        opacity: 1;
                    }
                }
                .fa {
                    margin-left: 0;
                    margin-right: 25px;
                }
            }

            .plane-change-input {
                display: inline-flex;
                justify-content: flex-start;
                align-items: center;
                float: left;
                height: 70px;
            }
            .plane-to-input {
                display: inline-flex;
                justify-content: flex-start;
                align-items: center;
                float: left;
                height: 70px;
                border-right: 1px solid #dbdcdd;
                i {
                    margin-left: 20px;
                    margin-right: 5px;
                }
                input {
                    padding: 10px;
                    border: 0;
                    width: 130px;
                    &::placeholder { 
                        color: #b2b9bc;
                        opacity: 1;
                    }
                }
                .fa {
                    margin-left: 0;
                    margin-right: 25px;
                }
            }
            .plane-going-input {
                display: inline-flex;
                justify-content: flex-start;
                align-items: center;
                float: left;
                height: 70px;
                border-right: 1px solid #dbdcdd;
                i {
                    margin-left: 20px;
                    margin-right: 5px;
                }
                input {
                    padding: 10px;
                    border: 0;
                    width: 115px;
                    &::placeholder { 
                        color: #b2b9bc;
                        opacity: 1;
                    }
                }
            }
            .plane-coming-input {
                display: inline-flex;
                justify-content: flex-start;
                align-items: center;
                float: left;
                height: 70px;
                border-right: 1px solid #dbdcdd;
                i {
                    margin-left: 10px;
                }
                input {
                    padding: 10px;
                    border: 0;
                    width: 115px;
                    &::placeholder { 
                        color: #b2b9bc;
                        opacity: 1;
                    }
                }
            }

            .plane-person-input {
                display: inline-flex;
                justify-content: flex-start;
                align-items: center;
                float: left;
                height: 70px;
                i {
                    margin-left: 15px;
                }
                input {
                    padding: 10px;
                    border: 0;
                    width: 100px;
                    &::placeholder { 
                        color: #b2b9bc;
                        opacity: 1;
                    }
                }
            }
            .search-button {
                width: 140px;
                height: 70px;
                color: #1c1d1d;
                font-weight: 600;
                background-color: #f1c40f;
                border-radius: 0 $borderRadius $borderRadius 0;
                cursor: pointer;
                float: right;
            }
        }

        .reservation-queries {
            margin-top: 20px;
            a {
                text-decoration: none;
                color: $white;
                i {
                    margin-right: 5px;
                }
            }
        }
    }
}