.right-column {
    width: 406px;
    background-color: $white;
    float: right;
    transition:max-height 0.3s ease-out;
    .room-photo {
        width: 406px;
        @include mq {
            width: 100vw;
        }
    }
    @include mq {
        float: none;
        z-index: -1;
        position: absolute;
        width: 100vw;
        opacity: 0;
        transform: translateY(100%);
        transition: .5s;
    }
    &-inner {
        padding: 20px 10px;
        border: 1px solid $darkGreyBorder;
        .otel-name {
            font-weight: 600;
        }
        .otel-location {
            margin-top: 10px;
            display: flex;
            justify-content: space-between;
        }
        .calender-area {
            display: flex;
            justify-content: space-between;
            background-color: $grey;
            border-radius: $borderRadius;
            border: 1px solid $darkGreyBorder;
            padding: 10px;
            margin-top: 20px;
            div {
                min-width: 150px;
                div:first-child {
                    font-size: 1rem;
                    color: #2c9fbe;
                    font-weight: 600;
                    i {
                        margin-right: 5px;
                        margin-top: -2px;
                    }
                }
                div:last-child {
                    font-size: .8rem;
                    font-weight: 600;
                    margin-top: 5px;
                }
            }

        }

        .summary-information {
            margin-top: 1rem;
            margin-bottom: 1rem;
            @include mq {
                margin-bottom: 40px;
            }
            li {
                display: flex;
                justify-content: space-between;
                padding: 5px;
                .icon-info, .icon-remove {
                    float: right;
                }
                .airline-company {
                    display: block;
                    font-size: .9rem;
                    text-align: right;
                }
                strong {
                    color: $darkGreen;
                }
                .price-title {
                    font-size: 1.2rem;
                    font-weight: bold;
                }
                .total-price {
                    font-size: 1.2rem;
                    font-weight: 600;
                    text-decoration: line-through;
                }
                .discounted-price {
                    font-size: 1.3rem;
                }
                .text {
                    display: block;
                }
                a {
                    color: $lightBlue;
                }
            }
        }

        .discount-code-input {
            margin-top: 1rem;
            margin-bottom: 20px;
        }

        .payment-info-next, .person-info-next, .payment-complate {
            @include mq {
                display: none;
            }
        }
    }
}

.show-right-column {
    opacity: 1;
    transform: translateY(0);
}