.step-area {
    height: 212px;
    width: $containerWidth;
    @include mq {
        display: none;
    }
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .step-wizard {
        height: 90px;
        width: 705px;
        display: flex;
        justify-content: space-around;
        @include mq {
            width: 375px;
            display: none;
            justify-content: flex-start;
        }
        .step1 {
            text-decoration: none;
            &-inner {
                width: 210px;
                position: relative;
                cursor: pointer;
                &-number {
                    margin-right: auto;
                    margin-left: auto;
                    width: 46px;
                    height: 46px;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: $stepLineGrey;
                    border: 2px solid $stepLineGrey;
                    background-color: $white;
                    &::before {
                        content: '1';
                    }
                }
                &-text {
                    width: 210px;
                    display: block;
                    margin-top: 20px;
                    color: $stepLineGrey;
                    font-weight: 600;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 15px;
                } 
                &-line {
                    position: absolute;
                    border-bottom: 4px solid $stepGrey;
                    width: 90px;
                    top: 20px;
                    left: 137px;
                    border-radius: 1px;
                }
            }
        }

        .step2 {
            text-decoration: none;
            &-inner {
                width: 210px;
                position: relative;
                cursor: pointer;
                &-number {
                    margin-right: auto;
                    margin-left: auto;
                    width: 46px;
                    height: 46px;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: $stepLineGrey;
                    border: 2px solid $stepLineGrey;
                    background-color: $white;
                    &::before {
                        content: '2';
                    }
                }
                &-text {
                    display: block;
                    margin-top: 20px;
                    color: $stepLineGrey;
                    font-weight: 600;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 15px;
                } 
                &-line-1 {
                    position: absolute;
                    border-bottom: 4px solid $stepGrey;
                    width: 84px;
                    top: 20px;
                    left: -9px;
                    border-radius: 1px;
                    z-index: 999;
                }
                &-line-2 {
                    position: absolute;
                    border-bottom: 4px solid $stepGrey;
                    width: 92px;
                    top: 20px;
                    left: 135px;
                    border-radius: 1px;
                    z-index: 999;
                }
            }
        }

        .step3 {
            text-decoration: none;
            &-inner {
                width: 210px;
                position: relative;
                cursor: pointer;
                &-number {
                    margin-right: auto;
                    margin-left: auto;
                    width: 46px;
                    height: 46px;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: $stepLineGrey;
                    border: 2px solid $stepLineGrey;
                    background-color: $white;
                    &::before {
                        content: '3';
                    }
                }
                &-text {
                    display: block;
                    margin-top: 20px;
                    color: $stepLineGrey;
                    font-weight: 600;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 15px;
                }
                &-line {
                    position: absolute;
                    border-bottom: 4px solid $stepGrey;
                    width: 83px;
                    top: 20px;
                    left: -9px;
                    border-radius: 1px;
                    z-index: 999;                       
                } 
            }
        }

        .step-ok {
            .step1-inner-number, .step2-inner-number, .step3-inner-number {
                color: $darkGreen;
                background-color: $darkGreen;
                border: 1px solid $darkGreen;
                color: #fff;
            }
            
            .step1-inner-text, .step2-inner-text, .step3-inner-text {
                color: $black;
            }

            .step1-inner-line {
                position: absolute;
                border-bottom: 4px solid $darkGreen;
                width: 90px;
                top: 20px;
                left: 137px;
                border-radius: 1px;
            }
            .step2-inner-line-1 {
                position: absolute;
                border-bottom: 4px solid $darkGreen;
                width: 84px;
                top: 20px;
                left: -9px;
                border-radius: 1px;
                z-index: 999;
            }
            .step2-inner-line-2 {
                position: absolute;
                border-bottom: 4px solid $darkGreen;
                width: 92px;
                top: 20px;
                left: 135px;
                border-radius: 1px;
                z-index: 999;
            }
            .step3-inner-line {
                position: absolute;
                border-bottom: 4px solid $darkGreen;
                width: 83px;
                top: 20px;
                left: -9px;
                border-radius: 1px;
                z-index: 999;  
            }        
        }

        .step-active {
            .step1-inner-number, .step2-inner-number, .step3-inner-number {
                color: $darkGreen;
                background-color: $darkGreen;
                border: 1px solid $darkGreen;
                color: #fff;
                &::before {
                    color: $white;
                    content: ''
                }
        
                &::after { 
                    position: absolute;
                    color: $white;        
                    content: '✔';
                }
            }
            
            .step1-inner-text, .step2-inner-text, .step3-inner-text {
                color: $black;
            }

            .step1-inner-line {
                position: absolute;
                border-bottom: 4px solid $darkGreen;
                width: 90px;
                top: 20px;
                left: 137px;
                border-radius: 1px;
            }
            .step2-inner-line-1 {
                position: absolute;
                border-bottom: 4px solid $darkGreen;
                width: 84px;
                top: 20px;
                left: -9px;
                border-radius: 1px;
                z-index: 999;
            }
            .step2-inner-line-2 {
                position: absolute;
                border-bottom: 4px solid $darkGreen;
                width: 92px;
                top: 20px;
                left: 135px;
                border-radius: 1px;
                z-index: 999;
            }
            .step3-inner-line {
                position: absolute;
                border-bottom: 4px solid $darkGreen;
                width: 83px;
                top: 20px;
                left: -9px;
                border-radius: 1px;
                z-index: 999;  
            }
        }
    }
}